!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_DiscussBoard.css", :rel => "stylesheet", :type => "text/css"}/
    %title Untitled Document
  %body
    #yauclaa.msg
      %h4 文章異動
      .thiscontent
        %form#delForm{:method => "post", :name => "delForm", :runat => "server"}
          .name 文章標題：文章異動
          %hr/
          .Cleft
            請選擇違規項目
            %select{:onchange => "setReason(this.options[this.selectedIndex].value,this.options[this.selectedIndex].label);"}
              %option{:label => "\346\234\252\351\201\270\346\223\207", :selected => "", :value => "0"} 請選擇一項原因
              %option{:label => "\345\205\247\345\256\271\351\201\225\345\217\215\346\231\272\346\205\247\350\262\241\347\224\242\346\254\212", :value => "1"} 1、內容違反智慧財產權
              %option{:label => "\345\274\265\350\262\274\350\262\267\350\263\243\346\226\207\347\253\240", :value => "3"} 2、張貼買賣文章
              %option{:label => "\350\210\207\346\234\254\347\211\210\344\270\273\351\241\214\344\270\215\347\254\246", :value => "5"} 3、與本版主題不符
              %option{:label => "\345\205\247\345\256\271\350\252\236\346\204\217\344\270\215\346\230\216\346\210\226\344\275\277\347\224\250\347\201\253\346\230\237\346\226\207", :value => "4"} 4、內容語意不明或使用火星文
              %option{:label => "\345\220\253\346\234\211\347\227\205\346\257\222\343\200\201\346\203\241\346\204\217\350\252\236\346\263\225\351\200\243\347\265\220", :value => "9"} 5、含有病毒、惡意語法連結
              %option{:label => "\345\220\253\346\234\211\345\220\214\350\263\252\346\200\247\346\210\226\345\225\206\346\245\255\347\266\262\347\253\231\351\200\243\347\265\220", :value => "6"} 6、含有同質性或商業網站連結
              %option{:label => "\346\266\211\345\217\212\346\203\205\350\211\262\347\255\211\344\270\215\351\233\205\345\255\227\347\234\274", :value => "7"} 7、涉及情色等不雅字眼
              %option{:label => "\345\270\266\346\234\211\350\223\204\346\204\217\346\224\273\346\223\212\343\200\201\346\214\221\351\207\201\347\255\211\345\255\227\347\234\274", :value => "2"} 8、帶有蓄意攻擊、挑釁等字眼
              %option{:label => "\346\266\211\345\217\212\346\224\277\346\262\273\350\210\207\345\256\227\346\225\231\346\200\247\350\251\261\351\241\214", :value => "8"} 9、涉及政治與宗教性話題
              %option{:label => "\345\205\254\351\226\213\347\225\231\344\270\213\351\200\243\347\265\241\346\226\271\345\274\217", :value => "10"} 10、公開留下連絡方式
              %option{:label => "\351\207\215\350\246\206\345\274\265\350\262\274\346\226\207\347\253\240", :value => "12"} 11、重覆張貼文章
              %option{:label => "\345\205\266\344\273\226\351\201\225\350\246\217", :value => "11"} 12、其他違規
          #info
          %label 違規說明：
          %textarea#delReason{:onkeyup => "count(this.value)", :style => "width: 400px; height: 80px;"}
          %center.txt-imp
            詳述刪文說明(100字以內)
            %br>/
            $ ! # $ % &amp; * "  ' 等符號將會無法顯示
          %hr/
          .objBtn
            %ul
              %li
                %a{:href => "#", :title => "\347\242\272\345\256\232\344\270\246\345\210\252\351\231\244\346\211\200\351\201\270\346\226\207\347\253\240"} 確定並刪除所選文章
              %li
                %a{:href => "#", :title => "\345\217\226\346\266\210"} 取消
