!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "css/sogi_DiscussBoard.css", :rel => "stylesheet", :type => "text/css"}/
    %title Untitled Document
  %body
    .choise
      %br/
      確定文章回覆
      %br/
      %br/
      %br/
      .Dspace
      %input#btnConfirm.btn-login{:name => "btnConfirm", :type => "submit", :value => "\347\242\272\345\256\232"}/
      \&nbsp;&nbsp;&nbsp;
      %input#btnConfirm2.btn-login{:name => "btnConfirm2", :type => "submit", :value => "\345\217\226\346\266\210"}/
