!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_DiscussBoard.css", :rel => "stylesheet", :type => "text/css"}/
    %title Untitled Document
  %body
    .Boardmsg
      %h4 編輯公告
      .thiscontent
        %img{:height => "185", :src => "images/www/samples/Article.png", :width => "501"}/
        %br/
        %br/
        .objBtn
          %ul
            %li
              %a{:href => "#", :title => "\345\256\214\346\210\220"} 完成
