!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_footer.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .footermain
            .Fdatas
              .FdataL
                %img{:height => "116", :src => "images/www/Fmarketing.png", :width => "25"}/
              .FdataR
                .nav
                  .Ftabs{:style => "width:625px;"}
                    .Ftab.on
                      %a{:href => "#", :title => "\351\227\234\346\226\274\346\211\213\346\251\237\347\216\213"}
                        關於手機王
                    .Ftab
                      %a{:href => "#", :title => "\347\266\262\350\267\257\350\241\214\351\212\267"}
                        網路行銷
                    .Ftab
                      %a{:href => "#", :title => "\345\273\243\345\221\212\345\210\212\347\231\273"}
                        廣告刊登
                    .Ftab
                      %a{:href => "#", :title => "\351\200\243\347\265\241\346\210\221\345\200\221"}
                        連絡我們
                    .Ftab
                      %a{:href => "#", :title => "\351\232\261\347\247\201\346\254\212\346\224\277\347\255\226"}
                        隱私權政策
                    .Ftab
                      %a{:href => "#", :title => "\346\263\225\345\276\213\351\241\247\345\225\217"}
                        法律顧問
                    .Ftab
                      %a{:href => "#", :title => "\346\212\200\350\241\223\345\220\210\344\275\234"}
                        技術合作
                  .FtabsEnd
                .Fdata
                  .FdataUp
                    .FdataTabs
                      .FdataTab
                        %a{:href => "#"} sogi!的優勢
                      .FdataTab.Fon
                        %a{:href => "#"} 專案成效
                    .FdataSign Effect
                  .Ftitle
                    %a{:href => "#"}> 2007年
                     | 
                    %a{:href => "#"}> 2006年
                     | 
                    %a{:href => "#"}> 2005年
                     | 
                    %a{:href => "#"}> 2004年
                     | 
                    %a{:href => "#"}> 2003年
                     | 
                    %a{:href => "#"}> 2002年
                     | 
                    %a{:href => "#"} 2000年
                  .EffectFdataDown
                    .Fblock 2004年
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/lg/wowlg/", :target => "_black"} WOW LG 網站完全攻略
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/6170/", :target => "_black"} NOKIA 6170
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/nokia/6630", :target => "_black"} NOKIA 6630
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/kpt/sd628/", :target => "_black"} KPT SD628
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/6260", :target => "_black"} NOKIA 6260
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/benq/p30party/", :target => "_black"} §一機掌握．智慧全面§BenQ P30體驗會
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/okwap/xmasdog/", :target => "_black"} 「寵」愛耶誕　爵士好樂
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/7260/", :target => "_black"} NOKIA 7260
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/moja/blade/", :target => "_black"} 刀鋒戰士3
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/5140/", :target => "_black"} NOKIA 5140
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/lg/t5100/", :target => "_black"} LG T5100 體驗會
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/siemens/s65/", :target => "_black"} Siemens S65 經典體驗
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/04sogipk/", :target => "_black"} 金「機」獨立2004手機大票選
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/3220/", :target => "_black"} NOKIA 3220
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/vk/900/", :target => "_black"} 全虹VK 900 - 戀戀安在旭
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/siemens/s65/", :target => "_black"} Siemens S65 經典體驗
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/special/sogischool/", :target => "_black"} 開學購機計劃
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/motorola/party/", :target => "_black"} Motorola V501 邂逅 party
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/mitsubishi/m750/index.asp", :target => "_black"} MITSUBISHI M750 三菱新品　時尚本色
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/special/java/", :target => "_black"} 手機Java Game大反攻
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/moto/a780/", :target => "_black"} Moto A780 - 專訪直擊
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/special/olympics/", :target => "_black"} 舞動你的奧運 SOGI
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/moja/cellular/", :target => "_black"} - 玩命手機 -免費送電影票
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/special/beauty/", :target => "_black"} 全虹通訊美少女選拔會
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/motorola/party/", :target => "_black"} Motorola V501邂逅party
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/fever/", :target => "_black"} 誰將取代韓流
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/fglife/", :target => "_black"} 手機界四大天王唯你免費獨有
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/sporty/", :target => "_black"} 夏日運動風體驗會
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/sporty/", :target => "_black"} 夏日運動風
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/arcoa25y/", :target => "_black"} 全虹25週年慶全館超低價
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/moja/taxi/", :target => "_black"} Taxi 終極殺陣計程車女王
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/jmast680/", :target => "_black"} - JMAS T680 - 時尚高手 非你莫屬
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/spec/", :target => "_black"} 主題式手機
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/motorola/v80/", :target => "_black"} Motorola V80
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/siemensx5/", :target => "_black"} Siemens XELIBRI 5
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/sogi5/", :target => "_black"} .::.:５林大會:.::. .::.:台灣手機王:.::.
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/7610/", :target => "_black"} NOKIA 7610
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/motorola/e398/", :target => "_black"} Motorola E398
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/vk500/", :target => "_black"} ．珍藏全智賢．尋找你最MATCH的VK手機
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/exhibition/2004www/index.asp", :target => "_black"} 【台灣】台北世貿資訊月展
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/okwap/a267/", :target => "_black"} OKWAP A267
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/match/", :target => "_black"} Pantech 與你最速配
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/okwap/okwaps762/", :target => "_black"} OKWAP S762
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/anextek/sp230/", :target => "_black"} AnexTek SP230
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/sony/", :target => "_black"} SONY風雲 Z─18
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/phs/", :target => "_black"} PHS手機超值優惠
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/i108/", :target => "_black"} OKWAP i108愛彩色一定發
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/photo/world/2004shanghai", :target => "_black"} 上海風情話
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/3120/", :target => "_black"} NOKIA 3120
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/exhibition/2004cmma/newsogi/brand.asp", :target => "_black"} 【新加坡】新加坡電信展
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/sanyo/g1000/", :target => "_black"} Sanyo G1000
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/20040821wg/wg0821.asp", :target => "_black"} 2004高雄網聚
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/bid/", :target => "_black"} 手機王要『賣』啦
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/2004peach/", :target => "_black"} 買水蜜桃 送愛心
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/vk/520-530/", :target => "_black"} VK 520,530
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/a568/", :target => "_black"} 大家來找碴
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/sogigogo/gogo3y/", :target => "_black"} 手機GOGO 3 週年慶
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/7200/", :target => "_black"} NOKIA 7200
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/exhibition/2004computex/", :target => "_black"} 【台灣】2004台北電腦展
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/stolen/", :target => "_black"} 協尋竊賊
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/6230-2/", :target => "_black"} NOKIA 6230
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/simpro2/", :target => "_black"} SIM Pro精算卡
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/photo/world/2004germany", :target => "_black"} 影像．映像　德國
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/exhibition/2004lg/newsogi.asp", :target => "_black"} 【韓國】2004LG手機展
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/motorola/v600/", :target => "_black"} Motorola V600
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/sonyericsson/p900/", :target => "_black"} SonyEricsson P900
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/sewon/", :target => "_black"} 韓國品牌手機SEWON SG1100
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/7600/", :target => "_black"} NOKIA 7600
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/exhibition/2004china/live.asp", :target => "_black"} 【中國】2004Cebit@Asia
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/xpro/p168/", :target => "_black"} X-PRO P168
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/siemens/sx1/", :target => "_black"} Siemens SX1
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/newgen520/", :target => "_black"} Newgen 520 變裝芭比
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/6820/", :target => "_black"} NOKIA 6820
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/photo/world/2004czech", :target => "_black"} 絕冬．布拉格
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/exhibition/2004cebit/report.asp", :target => "_black"} 【德國】2004Cebit大展
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/peach0704/", :target => "_black"} 捐血送愛心水蜜桃
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/benq/s670c/", :target => "_black"} BenQ S670C
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/nokia/3108/", :target => "_black"} NOKIA 3108
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/siemens/x5/", :target => "_black"} Siemens Xelibri 5
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/benq/s660c/", :target => "_black"} BenQ S660C
                    .Fblock
                      ›&nbsp;
                      %a{:href => "http://event.sogi.com.tw/topic/lg/g7120/", :target => "_black"} LG G7120
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
