!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_footer.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .footermain
            .Fdatas
              .FdataL
                %img{:height => "116", :src => "images/www/Fads.png", :width => "25"}/
              .FdataR
                .nav
                  .Ftabs{:style => "width:625px;"}
                    .Ftab.on
                      %a{:href => "#", :title => "\351\227\234\346\226\274\346\211\213\346\251\237\347\216\213"}
                        關於手機王
                    .Ftab
                      %a{:href => "#", :title => "\347\266\262\350\267\257\350\241\214\351\212\267"}
                        網路行銷
                    .Ftab
                      %a{:href => "#", :title => "\345\273\243\345\221\212\345\210\212\347\231\273"}
                        廣告刊登
                    .Ftab
                      %a{:href => "#", :title => "\351\200\243\347\265\241\346\210\221\345\200\221"}
                        連絡我們
                    .Ftab
                      %a{:href => "#", :title => "\351\232\261\347\247\201\346\254\212\346\224\277\347\255\226"}
                        隱私權政策
                    .Ftab
                      %a{:href => "#", :title => "\346\263\225\345\276\213\351\241\247\345\225\217"}
                        法律顧問
                    .Ftab
                      %a{:href => "#", :title => "\346\212\200\350\241\223\345\220\210\344\275\234"}
                        技術合作
                  .FtabsEnd
                .Fdata
                  .FdataUp
                    .FdataTabs
                      .FdataTab.Fon
                        %a{:href => "#"} 加入報價館
                      .FdataTab
                        %a{:href => "Sogi_sales_ad2011.rar"} 廣告版位示意圖
                    .FdataSign Join
                  .FdataDown
                    .AdsFblockUp
                      %p 手機種類日新月異，相對的，價格也數日一變。不管是要買新機的人或是想換機的人，都希望得到
                      %p 店家的資訊及精確無誤且即時的報價。
                      %p &nbsp;
                      %p 手機王超過 40 萬名會員的強大社群能力，建立起店家及手機族群創新的溝通平台。
                      %p &nbsp;
                      %p 想要直接命中目標客戶嗎？想要增加來店數嗎？想要增加成交率嗎？手機王帶給店家精準的廣告效
                      %p 益， 每月1,200 元，不用花在印製廣告及夾報的費用上，就可獲得更高的廣告效益。
                      %p &nbsp;
                      %p 報價館提供給店家：
                      %p 全年無休的報價系統，24小時全天候的讓人知道店面即時的報價。
                      %p 超過40萬名的會員，精準的讓手機族群知道店家的訊息。
                      %p &nbsp;
                      %p 花大錢做行銷來賺錢不稀奇，花小錢做行銷來賺錢才是最聰明的，手機王希望帶給手機族群最精確的
                      %p 報價及資訊，也希望帶給店家更多的收益。馬上加入報價館的行列，你將會發現網路的力量及廣告的
                      %p 效應有多大！
                    .AdsFtitle
                      .AdsFtitleL 加入報價館流程
                      .AdsFtitleR 加入報價館費用
                    .AdsFblockM
                      .AdsFblockML
                        本報價館業務已委託
                        %strong 丞諾股份有限公司
                        全權代理
                        
                        加入報價館，只要
                        三個步驟，輕鬆搞定:
                        \&nbsp;&nbsp;&nbsp;
                        %br>/
                        ›&nbsp;店家下載及填寫 店家申請表，傳真至 02-2528-0055。
                        \&nbsp;&nbsp;&nbsp;
                        %br>/
                        ›&nbsp;由丞諾股份有限公司審核完後，寄送合約書至申請店家。
                        \&nbsp;&nbsp;&nbsp;
                        %br>/
                        ›&nbsp;店家審閱合約並用印後，寄回 丞諾股份有限公司 。
                      .AdsFblockMR
                        加入報價館的費用
                        每月 1,200 元計算 ， 採年費收取 ， 壹年共 14,400 。
                        
                        輕鬆加入無負擔，用最少的錢做好的行銷。
                    .AdsFtitle &nbsp;&nbsp;&nbsp;&nbsp;丞諾股份有限公司聯絡方式如下：
                    .AdsFblockDown
                      .AdsFblockDownL
                        %p 徵業務經銷商：誠徵全省各縣市區域經銷商配合推廣報價館業務，煩請下載配合業務經銷商資料表。連同貴公司之營利事業登記證傳真至 02-2528-0055，將會有專人與貴公司接洽。
                        %p
                          電話：(02)2528-0011     傳真：(02)2528-0055
                          %br/
                          E-mail：irene@chennor.com.tw
                      .AdsFblockDownR
                        %img{:height => "63", :src => "images/www/logo_Chennor.gif", :width => "200"}/
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
