!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_footer.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .footermain
            .Fdatas
              .FdataL
                %img{:height => "116", :src => "images/www/FIntroduction.png", :width => "25"}/
              .FdataR
                .nav
                  .Ftabs{:style => "width:625px;"}
                    .Ftab.on
                      %a{:href => "#", :title => "\351\227\234\346\226\274\346\211\213\346\251\237\347\216\213"}
                        關於手機王
                    .Ftab
                      %a{:href => "#", :title => "\347\266\262\350\267\257\350\241\214\351\212\267"}
                        網路行銷
                    .Ftab
                      %a{:href => "#", :title => "\345\273\243\345\221\212\345\210\212\347\231\273"}
                        廣告刊登
                    .Ftab
                      %a{:href => "#", :title => "\351\200\243\347\265\241\346\210\221\345\200\221"}
                        連絡我們
                    .Ftab
                      %a{:href => "#", :title => "\351\232\261\347\247\201\346\254\212\346\224\277\347\255\226"}
                        隱私權政策
                    .Ftab
                      %a{:href => "#", :title => "\346\263\225\345\276\213\351\241\247\345\225\217"}
                        法律顧問
                    .Ftab
                      %a{:href => "#", :title => "\346\212\200\350\241\223\345\220\210\344\275\234"}
                        技術合作
                  .FtabsEnd
                .Fdata
                  .FdataUp
                    .FdataTabs
                      .FdataTab
                        %a{:href => "#"} 公司簡介
                      .FdataTab.Fon
                        %a{:href => "#"} 里程碑
                      .FdataTab
                        %a{:href => "#"} 粉絲團
                      .FdataTab
                        %a{:href => "#"} 噗浪
                    .FdataSign Milestones
                  .FdataDown
                    .MileFtitle
                      .MileFtitleL 時間
                      .MileFtitleR 記事
                    .MileFblock
                      .MileFblockL 2008
                      .MileFblockM 1月
                      .MileFblockR 與CCmedia舉辦「第二屆手機奧斯卡」票選活動
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 3月
                      .MileFblockR Sogi!手機王 網站全新平台上線
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2007
                      .MileFblockM 1月
                      .MileFblockR 「第一屆手機奧斯卡」記者發表會，共有38家媒體報導
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 2月
                      .MileFblockR Sogi!手機王 網站突破19萬人次
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 12月
                      .MileFblockR SOGI Car汽車消費頻道beta版誕生
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 獲得行政院研考會主辦的96年「無障礙網站推廣」評選為得獎網站第一組
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 申請經濟部技術處「新世代網路創新應用服務計畫」審核通過
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2006
                      .MileFblockM 2月
                      .MileFblockR Sogi!手機王網站突破16萬人次
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 4月
                      .MileFblockR Sogi!手機王首頁改版V.7版誕生
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 7月
                      .MileFblockR 手機王榮獲金手指『最佳網站內容獎』
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 11月
                      .MileFblockR 與「吳哥航空」合作有獎徵答活動
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 12月
                      .MileFblockR 與<Call流行通訊>、<手機超玩家>聯合舉辦「第一屆手機奧斯卡」票選活動
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2005
                      .MileFblockM 2月
                      .MileFblockR Sogi!手機王網站突破16萬人次
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 參加法國坎城3GSM展
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 6月
                      .MileFblockR 再度受邀參加新加坡電信展
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 參加法國坎城3GSM展
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 8月
                      .MileFblockR 手機王榮獲金手指『最佳網站內容獎』
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 10月
                      .MileFblockR 與「吳哥航空」合作有獎徵答活動
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 12月
                      .MileFblockR 與<Call流行通訊>、<手機超玩家>聯合舉辦「第一屆手機奧斯卡」票選活動
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2004
                      .MileFblockM 1月
                      .MileFblockR 成立數位服務頻道
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 3月
                      .MileFblockR 首次遠赴德國參加世界性CeBIT展
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 5月
                      .MileFblockR 受邀參加LG Media Tour至韓國LG工廠採訪
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 6月
                      .MileFblockR 受邀參加新加坡電信展
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR Sogi!手機王改版 V.5版誕生
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 7月
                      .MileFblockR
                        舉辦"買水密桃送愛心"(http://www.sogi.com.tw/event/2004peach/)活動，
                        %p 助北橫偏遠山區哈嘎灣、嘎拉賀部落居民改善生計
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 10月
                      .MileFblockR 舉辦首屆「手機王大賽」- 手機王五週年慶生活動
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2003
                      .MileFblockM 8月
                      .MileFblockR Sogi!手機王改版V.4版誕生
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 9月
                      .MileFblockR 協助中華人權協會台北海外和平服務團推動國際人道救援工作
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 10月
                      .MileFblockR 手機公園誕生-首座自製內容的Channel
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 首篇手機測試報告問世
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 與Yahoo合作電子報
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2002
                      .MileFblockM 1月
                      .MileFblockR Sogi!手機王 廣告館 成立
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 5月
                      .MileFblockR Sogi!手機王改版V.3版誕生
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 2000
                      .MileFblockM 1月
                      .MileFblockR 成立手機館、討論館、二手館、音樂館、玩樂館
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 9月
                      .MileFblockR 會員人數突破15萬人
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 20萬電子報訂戶
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 到站訪客人次突破500萬
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 成立全國最大手機社群「手機黨」
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 11月
                      .MileFblockR 成立評鑑館、報價館、主題館、轉播中心、聊天室、手機愛情故事。
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM 12月
                      .MileFblockR 圖形館 成立
                    .MileFblock
                      .MileFblockL &nbsp;
                      .MileFblockM &nbsp;
                      .MileFblockR 首次舉辦網站2000年風雲手機票選活動
                    .MileFtitle
                    .MileFblock
                      .MileFblockL 1999
                      .MileFblockM 10月
                      .MileFblockR Sogi!手機王網站成立
                    .MileFtitle
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
