!!!
%html
  %head
    %title 討論館 - HTC
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li.on
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %a{:href => "#", :title => "\350\250\216\350\253\226"}
              討論
            >
            %span.here
              HTC
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .forumMain
            .faGroups
              .faGroup
                .title
                  服務中心
                %ul.faboards
                  %li.faboard
                    %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213\345\205\254\345\221\212"}
                      手機王公告
                  %li.faboard
                    %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213\346\234\215\345\213\231\344\270\255\345\277\203"}
                      手機王服務中心
                  %li.faboard
                    %a{:href => "#", :title => "SOGI\346\225\231\345\255\270\347\211\210"}
                      SOGI教學版
                  %li.faboard
                    %a{:href => "#", :title => "\347\253\231\345\213\231\347\211\210\344\270\273\350\250\216\350\253\226\345\215\200(\347\256\241\347\220\206\345\223\241)"}
                      站務版主討論區(管理員)
                  %li.faboard
                    %a{:href => "#", :title => "\347\253\231\345\213\231\347\224\263\350\253\213/\350\253\213\350\276\255\345\215\200"}
                      站務申請/請辭區
                %a{:href => "#", :title => "\346\233\264\345\244\232\350\250\216\350\253\226\347\211\210"}
                .more
                  更多討論版
                  %img{:src => "images/www/sogi-arrow-3.gif"}/
              .faGroup
                .title
                  手機綜合主題
                %ul.faboards
                  %li.faboard
                    %a{:href => "#", :title => "\346\211\213\346\251\237\345\260\210\351\241\214\347\211\210"}
                      手機專題版
                  %li.faboard
                    %a{:href => "#", :title => "\346\211\213\346\251\237\345\223\201\347\211\214\350\250\216\350\253\226"}
                      手機品牌討論
                  %li.faboard
                    %a{:href => "#", :title => "\346\227\245\347\263\273\346\211\213\346\251\237\350\250\216\350\253\226"}
                      日系手機討論
                  %li.faboard
                    %a{:href => "#", :title => "\346\211\213\346\251\237\344\275\234\346\245\255\347\263\273\347\265\261"}
                      手機作業系統
                  %li.faboard
                    %a{:href => "#", :title => "\346\211\213\346\251\237\347\247\230\346\212\200\350\250\216\350\253\226"}
                      手機秘技討論
                %a{:href => "#", :title => "\346\233\264\345\244\232\350\250\216\350\253\226\347\211\210"}
                .more
                  更多討論版
                  %img{:src => "images/www/sogi-arrow-3.gif"}/
              .faGroup
                .title
                  電信主題
                %ul.faboards
                  %li.faboard
                    %a{:href => "#", :title => "\345\217\260\347\201\243\345\244\247\345\223\245\345\244\247"}
                      台灣大哥大
                  %li.faboard
                    %a{:href => "#", :title => "\344\270\255\350\217\257\351\233\273\344\277\241"}
                      中華電信
                  %li.faboard
                    %a{:href => "#", :title => "\351\201\240\345\202\263\351\233\273\344\277\241"}
                      遠傳電信
                  %li.faboard
                    %a{:href => "#", :title => "\345\250\201\345\257\266\351\233\273\344\277\241"}
                      威寶電信
                  %li.faboard
                    %a{:href => "#", :title => "\345\244\247\347\234\276\351\233\273\344\277\241"}
                      大眾電信
                  %li.faboard
                    %a{:href => "#", :title => "\344\272\236\345\244\252\351\233\273\344\277\241"}
                      亞太電信
                %a{:href => "#", :title => "\346\233\264\345\244\232\350\250\216\350\253\226\347\211\210"}
                .more
                  更多討論版
                  %img{:src => "images/www/sogi-arrow-3.gif"}/
          .articleSelected.mg.pdg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\262\276\351\201\270\346\226\207\347\253\240"}
                  精選文章
            .oneTabEnd
            %ul
              %li.artiList
                .bTitle.clr
                  .name
                    Android
                  .pagination.small
                    %ul
                      %li.current
                        1
                      %li
                        %a{:href => "#"}
                          2
                      %li
                        %a{:href => "#"}
                          3
                      %li
                        %a{:href => "#"}
                          4
                      %li
                        %a{:href => "#"}
                          5
                .adArticle.adArticleFixed
                  %ul
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                  %ul
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
            %ul
              %li.artiList
                .bTitle.clr
                  .name
                    Windows Phone
                  .pagination.small
                    %ul
                      %li.current
                        1
                      %li
                        %a{:href => "#"}
                          2
                      %li
                        %a{:href => "#"}
                          3
                      %li
                        %a{:href => "#"}
                          4
                      %li
                        %a{:href => "#"}
                          5
                .adArticle.adArticleFixed
                  %ul
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                  %ul
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
            %ul
              %li.artiList
                .bTitle.clr
                  .name
                    iOS
                  .pagination.small
                    %ul
                      %li.current
                        1
                      %li
                        %a{:href => "#"}
                          2
                      %li
                        %a{:href => "#"}
                          3
                      %li
                        %a{:href => "#"}
                          4
                      %li
                        %a{:href => "#"}
                          5
                .adArticle.adArticleFixed
                  %ul
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                  %ul
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                    %li
                      %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                        %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                      .title
                        雙核平板Apple iPad 2發表
                      .desc
                        雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
          .articleSelected.mg.pdg
            .ranking
              .oneTab
                .tab.on
                  %a{:href => "#", :title => "\346\234\254\346\227\245\347\206\261\347\211\210"}
                    本日熱版
              .oneTabEnd
              .rkList.clr
                %ul
                  %li
                    .rkNum.rkTop3
                      1
                    .name
                      %a{:href => "#", :title => "HTC"}
                        HTC
                  %li
                    .rkNum.rkTop3
                      2
                    .name
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                  %li
                    .rkNum.rkTop3
                      3
                    .name
                      %a{:href => "#", :title => "i9000"}
                        i9000
                  %li
                    .rkNum
                      4
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
                  %li
                    .rkNum
                      5
                    .name
                      %a{:href => "#", :title => "Sony Ericssion"}
                        Sony Ericssion
                  %li
                    .rkNum
                      6
                    .name
                      %a{:href => "#", :title => "iPhone4"}
                        iPhone4
                  %li
                    .rkNum
                      7
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
                  %li
                    .rkNum
                      8
                    .name
                      %a{:href => "#", :title => "Sony Ericssion"}
                        Sony Ericssion
                  %li
                    .rkNum
                      9
                    .name
                      %a{:href => "#", :title => "iPhone4"}
                        iPhone4
                  %li
                    .rkNum
                      10
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
            .ranking
              .oneTab
                .tab.on
                  %a{:href => "#", :title => "\346\234\254\351\200\261\347\206\261\347\211\210"}
                    本週熱版
              .oneTabEnd
              .rkList.clr
                %ul
                  %li
                    .rkNum.rkTop3
                      1
                    .name
                      %a{:href => "#", :title => "HTC"}
                        HTC
                  %li
                    .rkNum.rkTop3
                      2
                    .name
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                  %li
                    .rkNum.rkTop3
                      3
                    .name
                      %a{:href => "#", :title => "i9000"}
                        i9000
                  %li
                    .rkNum
                      4
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
                  %li
                    .rkNum
                      5
                    .name
                      %a{:href => "#", :title => "Sony Ericssion"}
                        Sony Ericssion
                  %li
                    .rkNum
                      6
                    .name
                      %a{:href => "#", :title => "iPhone4"}
                        iPhone4
                  %li
                    .rkNum
                      7
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
                  %li
                    .rkNum
                      8
                    .name
                      %a{:href => "#", :title => "Sony Ericssion"}
                        Sony Ericssion
                  %li
                    .rkNum
                      9
                    .name
                      %a{:href => "#", :title => "iPhone4"}
                        iPhone4
                  %li
                    .rkNum
                      10
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
            .ranking.rankingEnd
              .oneTab
                .tab.on
                  %a{:href => "#", :title => "\346\226\260\351\226\213\347\211\210"}
                    新開版
              .oneTabEnd
              .rkList.clr
                %ul
                  %li
                    .rkNum.rkTop3
                      1
                    .name
                      %a{:href => "#", :title => "HTC"}
                        HTC
                  %li
                    .rkNum.rkTop3
                      2
                    .name
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                  %li
                    .rkNum.rkTop3
                      3
                    .name
                      %a{:href => "#", :title => "i9000"}
                        i9000
                  %li
                    .rkNum
                      4
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
                  %li
                    .rkNum
                      5
                    .name
                      %a{:href => "#", :title => "Sony Ericssion"}
                        Sony Ericssion
                  %li
                    .rkNum
                      6
                    .name
                      %a{:href => "#", :title => "iPhone4"}
                        iPhone4
                  %li
                    .rkNum
                      7
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
                  %li
                    .rkNum
                      8
                    .name
                      %a{:href => "#", :title => "Sony Ericssion"}
                        Sony Ericssion
                  %li
                    .rkNum
                      9
                    .name
                      %a{:href => "#", :title => "iPhone4"}
                        iPhone4
                  %li
                    .rkNum
                      10
                    .name
                      %a{:href => "#", :title => "Nokia"}
                        Nokia
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\233\270\351\227\234\346\226\207\347\253\240"}
                  相關文章
            .oneTabEnd
            .faExtend
              %ul
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\233\270\351\227\234\351\205\215\344\273\266"}
                  相關配件
            .oneTabEnd
            .faExtend
              %ul
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
            %a{:href => "#", :title => "\346\233\264\345\244\232\351\205\215\344\273\266"}
            .more
              更多配件
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
