!!!
%html
  %head
    %title 討論館 - HTC
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li.on
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %a{:href => "#", :title => "\350\250\216\350\253\226"}
              討論
            >
            %span.here
              HTC
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .forumMain
            .objInfo
              .objBtn
                %ul
                  %li
                    %a{:href => "#", :title => "\346\211\213\346\251\237\344\273\213\347\264\271"}
                      手機介紹
                  %li
                    %a{:href => "#", :title => "\345\212\240\345\205\245\346\234\200\346\204\233"}
                      加入最愛
                  %li
                    %a{:href => "#", :title => "\351\203\250\350\220\275\346\240\274\345\267\245\345\205\267"}
                      部落格工具
              .pdImg
                %img{:src => "images/www/samples/sample-img-4.jpg"}/
              .pdName
                %a{:href => "#", :title => "HTC"}
                  HTC
              .forumManager
                版主：小鹿斑比
              .desc
                手機王網站對於會員所發布的文字、圖片或檔案保有部份修改或移除的權利。當會員使用本網站服務時，代表會員已經詳細閱讀且完全了解，並同意配合下述規範...
              .forumBtn
                .createVote
                  %a{:href => "#", :title => "\347\231\274\350\265\267\346\264\273\345\213\225"}
                    發起活動
                .newPost
                  %a{:href => "#", :title => "\347\231\274\350\241\250\346\226\207\347\253\240"}
                    發表文章
            .objList
              .objBtn-b
                %a{:href => "#", :title => "Desire HD"}
                  Desire HD
              .objBtn-b
                %a{:href => "#", :title => "Desire S"}
                  Desire S
              .objBtn-b
                %a{:href => "#", :title => "Desire \346\270\264\346\234\233\346\251\237"}
                  Desire 渴望機
              .objBtn-b
                %a{:href => "#", :title => "EVO 3D"}
                  EVO 3D
              .objBtn-b
                %a{:href => "#", :title => "EVO 4G"}
                  EVO 4G
              .objBtn-b
                %a{:href => "#", :title => "Incredible S"}
                  Incredible S
              .objBtn-b
                %a{:href => "#", :title => "Rider"}
                  Rider
              .objBtn-b
                %a{:href => "#", :title => "Sensation \346\204\237\345\213\225\346\251\237"}
                  Sensation 感動機
              .objBtn-b
                %a{:href => "#", :title => "Wildfire \351\207\216\347\201\253\346\251\237"}
                  Wildfire 野火機
              .objBtn-b
                %a{:href => "#", :title => "Desire HD"}
                  Desire HD
              .objBtn-b
                %a{:href => "#", :title => "Desire S"}
                  Desire S
              .objBtn-b
                %a{:href => "#", :title => "Desire \346\270\264\346\234\233\346\251\237"}
                  Desire 渴望機
              %a{:href => "#", :style => "float:left;line-height:20px;margin-left:10px;", :title => "\346\233\264\345\244\232"}
                更多 >>
            .adArticle.clr
              %ul
                %li
                  %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                    %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                  .title
                    雙核平板Apple iPad 2發表
                  .desc
                    雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                %li
                  %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                    %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                  .title
                    雙核平板Apple iPad 2發表
                  .desc
                    雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
            .articleSearch
              %select{:name => "searchType"}
                %option{:value => "1"}
                  文章標題
                %option{:value => "2"}
                  作者
              %input{:name => "searchTxt", :type => "text"}/
              %input{:name => "\346\220\234\345\260\213", :type => "button", :value => "\346\220\234\345\260\213"}/
            .pagination.digg
              %ul
                %li.disabled
                  第一頁
                %li.disabled
                  上一頁
                %li.current
                  1
                %li
                  %a{:href => "#"}
                    2
                %li
                  %a{:href => "#"}
                    3
                %li
                  %a{:href => "#"}
                    4
                %li
                  %a{:href => "#"}
                    5
                %li
                  %a{:href => "#"}
                    6
                %li
                  %a{:href => "#"}
                    7
                %li
                  %a{:href => "#"}
                    8
                %li
                  %a{:href => "#"}
                    9
                %li
                  %a{:href => "#"}
                    10
                %li
                  %a{:href => "#"}
                    下一頁
                %li
                  %a{:href => "#"}
                    最後一頁
            .faList
              .fTabs
                %ul
                  %li.on
                    全部
                  %li
                    %a{:href => "#", :title => "\344\277\256\346\224\271\345\215\200"}
                      修改區
                  %li
                    %a{:href => "#", :title => "\347\204\232\345\214\226\347\210\220"}
                      焚化爐
                  %li
                    %a{:href => "#", :title => "\345\276\205\345\257\251\346\226\207\347\253\240"}
                      待審文章
                  %li
                    %a{:href => "#", :title => "\347\211\210\344\270\273\345\205\254\345\221\212"}
                      版主公告
              .faHead
                .faTitle
                  主題
                .faCount
                  回應
                .faAuthor
                  作者
                .faNewRe
                  最新回覆
              .faRow.top
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王電子雜誌5月精彩好禮！測試測試測試標題標題標題測試標...
                  .specialIcon
                    %a{:href => "#", :title => "\345\205\250\347\253\231\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconG.png"}/
                    %a{:href => "#", :title => "\347\262\276\350\217\257\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconJ.png"}/
                    %a{:href => "#", :title => "\347\210\206\347\206\261\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconB.png"}/
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow.top
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                    %a{:href => "#", :title => "\347\275\256\351\240\202\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconD.png"}/
                    %a{:href => "#", :title => "\347\262\276\350\217\257\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconJ.png"}/
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow.top
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                    %a{:href => "#", :title => "\347\275\256\351\240\202\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconD.png"}/
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                    %a{:href => "#", :title => "\347\210\206\347\206\261\346\226\207\347\253\240"}
                      %span
                        %img{:src => "images/www/iconB.png"}/
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
              .faRow
                .field-1
                  .check
                    %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                  .objBtns
                    .objBtn
                      %a{:href => "#", :title => "Desire HD"}
                        Desire HD
                    .objBtn
                      %a{:href => "#", :title => "Android"}
                        Android
                  .title
                    %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                      %span.mTag
                        [版主公告]
                      %span
                        手機王EDM 5月精彩好禮！
                  .specialIcon
                .field-2
                  .reCount
                    %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                      99999
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
                .field-3
                  .postInfo
                    %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                      %span
                        2011-06-27 14:30
                      %span
                        小鹿斑比
            .pagination.digg
              %ul
                %li.disabled
                  第一頁
                %li.disabled
                  上一頁
                %li.current
                  1
                %li
                  %a{:href => "#"}
                    2
                %li
                  %a{:href => "#"}
                    3
                %li
                  %a{:href => "#"}
                    4
                %li
                  %a{:href => "#"}
                    5
                %li
                  %a{:href => "#"}
                    6
                %li
                  %a{:href => "#"}
                    7
                %li
                  %a{:href => "#"}
                    8
                %li
                  %a{:href => "#"}
                    9
                %li
                  %a{:href => "#"}
                    10
                %li
                  %a{:href => "#"}
                    下一頁
                %li
                  %a{:href => "#"}
                    最後一頁
            .articleSearch
              %select{:name => "searchType"}
                %option{:value => "1"}
                  文章標題
                %option{:value => "2"}
                  作者
              %input{:name => "searchTxt", :type => "text"}/
              %input{:name => "\346\220\234\345\260\213", :type => "button", :value => "\346\220\234\345\260\213"}/
            .adArticle.clr
              %ul
                %li
                  %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                    %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                  .title
                    雙核平板Apple iPad 2發表
                  .desc
                    雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                %li
                  %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                    %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                  .title
                    雙核平板Apple iPad 2發表
                  .desc
                    雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
          .forumMaBtn
            .maBtn
              %a{:href => "#", :title => "\345\210\227\345\205\245\344\277\256\346\224\271\345\215\200"}
                %span
                  列入
                  %br>/
                  修改區
            .maBtn
              %a{:href => "#", :title => "\345\217\226\346\266\210\344\277\256\346\224\271\345\215\200"}
                %span
                  取消
                  %br>/
                  修改區
            .maBtn.red
              %a{:href => "#", :title => "\346\226\207\347\253\240\345\210\252\351\231\244"}
                %span
                  文章
                  %br>/
                  刪除
            .maBtn
              %a{:href => "#", :title => "\346\226\207\347\253\240\345\276\251\345\216\237"}
                %span
                  文章
                  %br>/
                  復原
            .maBtn.yellow
              %a{:href => "#", :title => "\346\234\254\347\211\210\347\275\256\351\240\202"}
                %span
                  本版
                  %br>/
                  置頂
            .maBtn
              %a{:href => "#", :title => "\345\217\226\346\266\210\347\275\256\351\240\202"}
                %span
                  取消
                  %br>/
                  置頂
            .maBtn
              %a{:href => "#", :title => "\347\267\250\350\274\257\345\205\254\345\221\212"}
                %span
                  編輯
                  %br>/
                  公告
            .maBtn
              %a{:href => "#", :title => "TAG\347\256\241\347\220\206"}
                %span
                  TAG
                  %br>/
                  管理
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\233\270\351\227\234\346\226\207\347\253\240"}
                  相關文章
            .oneTabEnd
            .faExtend
              %ul
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\233\270\351\227\234\351\205\215\344\273\266"}
                  相關配件
            .oneTabEnd
            .faExtend
              %ul
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
            %a{:href => "#", :title => "\346\233\264\345\244\232\351\205\215\344\273\266"}
            .more
              更多配件
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
