!!!
%html
  %head
    %title 手機王
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li
              %a
                手機
            %li
              %a
                電信
            %li.on
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .hotNews
          .tabs{:style => "width:600px;"}
            .tab
              %a{:href => "#", :title => "\346\234\254\347\253\231\351\240\255\346\242\235\346\226\260\350\201\236"}
                本站頭條新聞
            .tab.on
              %a{:href => "#", :title => "\351\240\255\346\242\235\346\250\243\345\274\217\344\272\214"}
                頭條樣式二
            .tab
              %a{:href => "#", :title => "\346\234\254\347\253\231\351\240\255\346\242\235\346\226\260\350\201\236"}
                本站頭條新聞
            .tab
              %a{:href => "#", :title => "\346\234\254\347\253\231\351\240\255\346\242\235\346\226\260\350\201\236"}
                本站頭條新聞
            .tab
              %a{:href => "#", :title => "\346\234\254\347\253\231\351\240\255\346\242\235\346\226\260\350\201\236"}
                本站頭條新聞機
            .tab
              %a{:href => "#", :title => "\346\234\254\347\253\231\351\240\255\346\242\235\346\226\260\350\201\236"}
                本站頭條新聞
          .tabsEnd
          .promoTp-2.clr
            .hotOne
              %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                %img{:src => "images/www/samples/sample-img-1.jpg"}/
              .title
                iPad 2能否延續平板電腦霸主地位？
              .excerpts
                美國加州時間 2011 年 3 月 2 日，在眾人的期待之下，Steve Jobs 親自出席並發表了革命性產品 Apple iPad 的後繼機種：iPad 2 的發表會。美國加州時間 2011 年 3 月 2 日，在眾人的期待之下...
            .hotList
              %ul
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
                %li
                  %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                    %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                  .title
                    Android 軟體
                  .desc
                    多工處理超強，網頁瀏覽超級快，玩遊...
            .newsfeed
              .title
                快訊
              %ul
                %li
                  %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                    iPad 2能否延續平板電腦霸主地位？
                %li
                  %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                    iPad 2能否延續平板電腦霸主地位？
                %li
                  %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                    iPad 2能否延續平板電腦霸主地位？
        .forumBox
          .tabs{:style => "width:280px;"}
            .tab.on{:style => "width:48%"}
              %a{:href => "#", :title => "\346\234\200\346\226\260\346\226\207\347\253\240"}
                最新文章
            .tab{:style => "width:48%"}
              %a{:href => "#", :title => "\347\206\261\351\226\200\350\250\216\350\253\226"}
                熱門討論
          .tabsEnd
          .forumFeed
            %ul
              %li
                %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                  iPad 2能否延續平板電腦霸主地位？
              %li
                %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                  iPad 2能否延續平板電腦霸主地位？
              %li
                %a{:href => "#", :title => "iPad 2\350\203\275\345\220\246\345\273\266\347\272\214\345\271\263\346\235\277\351\233\273\350\205\246\351\234\270\344\270\273\345\234\260\344\275\215\357\274\237"}
                  iPad 2能否延續平板電腦霸主地位？
            %a{:href => "#", :title => "\346\233\264\345\244\232"}
            .more
              更多
              %img{:src => "images/www/sogi-arrow-3.gif"}/
        .AD300
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad300.gif"}/
      .softPromo.bw.mg
        %ul
          %li
            .softType
              %img{:src => "images/www/icon-soft-android.png"}/
            %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
              %img.softImg{:src => "images/www/samples/sample-img-2.jpg"}/
            .title
              Android 軟體
            .desc
              多工處理超強，網頁瀏覽超級快，玩遊...
          %li
            .softType
              %img{:src => "images/www/icon-soft-windows.png"}/
            %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
              %img.softImg{:src => "images/www/samples/sample-img-2.jpg"}/
            .title
              Android 軟體
            .desc
              多工處理超強，網頁瀏覽超級快，玩遊...
          %li
            .softType
              %img{:src => "images/www/icon-soft-apple.png"}/
            %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
              %img.softImg{:src => "images/www/samples/sample-img-2.jpg"}/
            .title
              Android 軟體
            .desc
              多工處理超強，網頁瀏覽超級快，玩遊...
          %li.end
            .softType
              %img{:src => "images/www/icon-soft-symbian.png"}/
            %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
              %img.softImg{:src => "images/www/samples/sample-img-2.jpg"}/
            .title
              Android 軟體
            .desc
              多工處理超強，網頁瀏覽超級快，玩遊...
      .bw.mg
        .bwl
          .newsPromo
            .tabs{:style => "width:400px;"}
              .tab.on
                %a{:href => "#", :title => "\346\234\200\346\226\260\350\251\225\346\270\254"}
                  最新評測
              .tab
                %a{:href => "#", :title => "\346\231\272\346\205\247OS"}
                  智慧OS
              .tab
                %a{:href => "#", :title => "\346\231\272\346\205\247OS"}
                  智慧OS
              .tab
                %a{:href => "#", :title => "\346\231\272\346\205\247OS"}
                  智慧OS
              .tab
                %a{:href => "#", :title => "\346\231\272\346\205\247OS"}
                  智慧OS
            .tabsEnd
            .twoNews
              %ul
                %li
                  %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                    %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                  .title
                    雙核平板Apple iPad 2發表
                  .desc
                    雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
                %li
                  %a{:href => "#", :title => "\351\233\231\346\240\270\345\271\263\346\235\277Apple iPad 2\347\231\274\350\241\250"}
                    %img.newsImg{:src => "images/www/samples/sample-img-3.jpg"}/
                  .title
                    雙核平板Apple iPad 2發表
                  .desc
                    雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表 售499美元！雙核平板Apple iPad 2發表...
              %a{:href => "#", :title => "\346\233\264\345\244\232\346\226\207\347\253\240"}
              .more
                更多文章
                %img{:src => "images/www/sogi-arrow-3.gif"}/
        .bwr
          .newsPromo
            .oneTab
              %a{:href => "#", :title => "\346\264\273\345\213\225\346\212\225\347\245\250"}
                活動投票
            .oneTabEnd
            .quiz
              .icon
                問
              .title
                你現在是使用什麼系統的手機？
      .bw.mg
        .AD970
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw
        .bwl
          .pdPromo.mg
            .promoIcon{:style => "top:-20px;right:-15px;height:57px;"}
              %img{:src => "images/www/sogi-img-2.png"}/
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\234\200\346\226\260\344\270\212\345\270\202"}
                  最新上市
              .tab
                %a{:href => "#", :title => "\347\206\261\351\226\200\347\204\246\351\273\236"}
                  熱門焦點
              .tab
                %a{:href => "#", :title => "NOKIA\347\263\273\345\210\227"}
                  NOKIA系列
              .tab
                %a{:href => "#", :title => "HTC\347\263\273\345\210\227"}
                  HTC系列
              .tab
            .tabsEnd
            %ul
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
            %a{:href => "#", :title => "\346\233\264\345\244\232\346\211\213\346\251\237"}
            .more
              更多手機
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .pdPromo.mg
            .promoIcon{:style => "top:-77px;right:-15px;height:114px;"}
              %img{:src => "images/www/sogi-img-2.png"}/
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\234\200\346\226\260\344\270\212\345\270\202"}
                  最新上市
              .tab
                %a{:href => "#", :title => "\347\206\261\351\226\200\347\204\246\351\273\236"}
                  熱門焦點
            .tabsEnd
            %ul
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
            %a{:href => "#", :title => "\346\233\264\345\244\232\346\211\213\346\251\237"}
            .more
              更多手機
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .pdPromo.mg
            .promoIcon{:style => "top:-134px;right:-15px;height:171px;"}
              %img{:src => "images/www/sogi-img-2.png"}/
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\234\200\346\226\260\344\270\212\345\270\202"}
                  最新上市
              .tab
                %a{:href => "#", :title => "\347\206\261\351\226\200\347\204\246\351\273\236"}
                  熱門焦點
            .tabsEnd
            %ul
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
              %li
                .pd
                  %a{:href => "#", :title => "HTC Desire HD"}
                    %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .info
                    %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                    .pName
                      %a{:href => "#", :title => "HTC Desire HD"}
                        HTC Desire HD
                    .price
                      平均價:
                      %span.money
                        %a{:href => "#", :title => "\345\203\271\346\240\274"}
                          $18,800
                    .reviewBtn
                      %a{:href => "#", :title => "\344\273\213\347\264\271"}
                        介紹
                      |
                      %a{:href => "#", :title => "\350\251\225\346\270\254"}
                        評測
                      |
                      %a{:href => "#", :title => "\350\250\216\350\253\226"}
                        討論
                      |
                      %a{:href => "#", :title => "\350\273\212\346\213\274"}
                        車拼
            %a{:href => "#", :title => "\346\233\264\345\244\232\346\211\213\346\251\237"}
            .more
              更多手機
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .pdPromo.storePromo.mg
            .promoIcon{:style => "top:-191px;right:-15px;height:228px;"}
              %img{:src => "images/www/sogi-img-2.png"}/
            .tabs.tBlue
              .tab.on
                %a{:href => "#", :title => "\346\234\200\346\226\260\345\272\227\351\213\252"}
                  最新店鋪
              .tab
                %a{:href => "#", :title => "\344\272\272\346\260\243\345\272\227\351\213\252"}
                  人氣店鋪
              .tab
                %a{:href => "#", :title => "\345\204\252\346\203\240\346\264\273\345\213\225"}
                  優惠活動
            .tabsEnd.teBlue
            %ul
              %li
                .pd
                  %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                    %img.pdImg{:src => "images/www/samples/sample-img-5.jpg"}/
                  .info
                    .pName
                      %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                        聯強電信聯盟
              %li
                .pd
                  %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                    %img.pdImg{:src => "images/www/samples/sample-img-5.jpg"}/
                  .info
                    .pName
                      %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                        聯強電信聯盟
              %li
                .pd
                  %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                    %img.pdImg{:src => "images/www/samples/sample-img-5.jpg"}/
                  .info
                    .pName
                      %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                        聯強電信聯盟
              %li
                .pd
                  %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                    %img.pdImg{:src => "images/www/samples/sample-img-5.jpg"}/
                  .info
                    .pName
                      %a{:href => "#", :title => "\350\201\257\345\274\267\351\233\273\344\277\241\350\201\257\347\233\237"}
                        聯強電信聯盟
            %a{:href => "#", :title => "\346\233\264\345\244\232\346\211\213\346\251\237"}
            .more
              更多手機
              %img{:src => "images/www/sogi-arrow-3.gif"}/
        .bwr
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .AD240
            %img{:src => "images/www/samples/sample-img-6.jpg"}/
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
