!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_member.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .Mfootermain
            .Mnav
              .Mtabs{:style => "width:690px;"}
                .Mtab
                  %a{:href => "#", :title => "\351\246\226\351\240\201"}
                    首頁
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\350\263\207\346\226\231"}
                    會員資料
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\346\234\200\346\204\233"}
                    我的最愛
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\345\234\226\345\272\253"}
                    我的圖庫
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\250\212\346\201\257"}
                    我的訊息
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\215\211\347\250\277"}
                    我的草稿
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\346\254\212\347\233\212"}
                    會員權益
                .Mtab
                  %a{:href => "#", :title => "\347\264\205\345\210\251\350\264\210\345\223\201"}
                    紅利贈品
                .Mtab.on
                  %a{:href => "#", :title => "\346\264\273\345\213\225\345\260\210\345\215\200"}
                    活動專區
              .MtabsEnd
            .Mdatas
              .MdataUp
                .MdataTabs
                  .MdataTab.Mon
                    %a{:href => "#"} 歷年活動
                  .MdataTab
                    %a{:href => "#"} 活動得獎名單
              .MdataDown
                %form#aspnetForm{:action => "action_event.aspx", :method => "post", :name => "aspnetForm"}
                  %div
                    %input#__VIEWSTATE{:name => "__VIEWSTATE", :type => "hidden", :value => "/wEPDwUJMjUzNTk5OTE4D2QWAmYPZBYEAgMPDxYCHgRUZXh0BUnkvaDnmoTkvY3nva7vvJpTb2dpIC8gPGEgaHJlZj0naW5kZXguYXNwJz7mnIPlk6HkuK3lv4M8L2E+IC8g5q235bm05rS75YuVZGQCFQ8WBB4FY2xhc3MFCW1lbnVjbGljax4JaW5uZXJodG1sBSINCiAgICAgICAgICAgICAgICAgICAg5rS75YuV5bCI5Y2AZGT2BUMndu+6I01p5U+HWym6u9ixCg=="}/
                  #pr_top
                    %p
                      網站類
                  #Acpr_box
                    .event
                      %p
                        %a{:href => "http://event.sogi.com.tw/carreporter/index.aspx", :target => "_blank", :title => "\343\200\212SOGI \346\261\275\350\273\212\351\240\273\351\201\223\343\200\213\346\210\221\346\230\257\345\244\247\350\250\230\350\200\205"}
                          %img{:alt => "\343\200\212SOGI \346\261\275\350\273\212\351\240\273\351\201\223\343\200\213\346\210\221\346\230\257\345\244\247\350\250\230\350\200\205", :src => "images/www/event/01.jpg"}/
                          %br/
                          《SOGI 汽車頻道》我是大記者
                    .event
                      %p
                        %a{:href => "http://qa.sogi.com.tw/SogiCarQ/", :target => "_blank", :title => "\343\200\212SOGI \346\261\275\350\273\212\351\240\273\351\201\223\343\200\213\345\241\253\345\225\217\345\215\267\345\205\215\350\262\273\346\212\275 Wii ! \346\264\273\345\213\225\351\226\213\350\267\221"}
                          %img{:alt => "\343\200\212SOGI \346\261\275\350\273\212\351\240\273\351\201\223\343\200\213\345\241\253\345\225\217\345\215\267\345\205\215\350\262\273\346\212\275 Wii ! \346\264\273\345\213\225\351\226\213\350\267\221", :src => "images/www/event/02.jpg"}/
                          %br/
                          《SOGI 汽車頻道》填問卷免費抽 Wii ! 活動開跑
                    .event
                      %p
                        %a{:href => "http://event.sogi.com.tw/LG/KMusic/", :target => "_blank", :title => "LG\343\200\212K Music\345\227\221\351\237\263\346\250\202\343\200\213\347\266\262\350\267\257\346\264\273\345\213\225"}
                          %img{:alt => "LG\343\200\212K Music\345\227\221\351\237\263\346\250\202\343\200\213\347\266\262\350\267\257\346\264\273\345\213\225", :src => "images/www/event/03.jpg"}/
                          %br/
                          LG《K Music嗑音樂》網路活動
                    .event
                      %p
                        %a{:href => "http://event.sogi.com.tw/se/walkman/", :target => "_blank", :title => "SonyEricsson Walkman\344\270\211\345\271\264\346\234\211\346\210\220\345\260\210\351\241\214\345\240\261\345\260\216"}
                          %img{:alt => "SonyEricsson Walkman\344\270\211\345\271\264\346\234\211\346\210\220\345\260\210\351\241\214\345\240\261\345\260\216", :src => "images/www/event/04.jpg"}/
                          %br/
                          SonyEricsson Walkman三年有成專題報導
                    .event
                      %p
                        %a{:href => "http://event.sogi.com.tw/2008taitung/", :target => "_blank", :title => "\345\217\260\346\235\261 - \346\210\221\350\241\214\342\200\247\346\210\221\351\232\250\357\274\214\350\274\225\351\254\206\346\227\205"}
                          %img{:alt => "\345\217\260\346\235\261 - \346\210\221\350\241\214\342\200\247\346\210\221\351\232\250\357\274\214\350\274\225\351\254\206\346\227\205", :src => "images/www/event/05.jpg"}/
                          %br/
                          台東 - 我行‧我隨，輕鬆旅
                  .spacer3
                  %table.spec2{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %tbody
                      %tr.bar
                        %th.bar-l 討論區活動
                      %tr.even
                        %td.cont-l
                          %strong.CHmobile [手機頻道]
                          %a{:href => "http://www.sogi.com.tw/newforum/article_list.asp?topic_ID=6038743", :target => "_blank"} MOTO 手寫天下 暢行無阻！送手機
                      %tr.odd
                        %td.cont-l
                          %strong.CHcar [汽車頻道]
                          %a{:href => "http://car.sogi.com.tw/newforum/article_list.asp?topic_ID=6038303", :target => "_blank"} 強力徵求汽車發問、解答達人，輕鬆拿手機
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
