!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_member.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .Mfootermain
            .Mnav
              .Mtabs{:style => "width:690px;"}
                .Mtab
                  %a{:href => "#", :title => "\351\246\226\351\240\201"}
                    首頁
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\350\263\207\346\226\231"}
                    會員資料
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\346\234\200\346\204\233"}
                    我的最愛
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\345\234\226\345\272\253"}
                    我的圖庫
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\250\212\346\201\257"}
                    我的訊息
                .Mtab.on
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\215\211\347\250\277"}
                    我的草稿
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\346\254\212\347\233\212"}
                    會員權益
                .Mtab
                  %a{:href => "#", :title => "\347\264\205\345\210\251\350\264\210\345\223\201"}
                    紅利贈品
                .Mtab
                  %a{:href => "#", :title => "\346\264\273\345\213\225\345\260\210\345\215\200"}
                    活動專區
              .MtabsEnd
            .Mdatas
              .MdataDown
                %form#aspnetForm{:action => "mySketch.aspx", :method => "post", :name => "aspnetForm"}
                  %div
                    %input#__EVENTTARGET{:name => "__EVENTTARGET", :type => "hidden", :value => ""}/
                    %input#__EVENTARGUMENT{:name => "__EVENTARGUMENT", :type => "hidden", :value => ""}/
                    %input#__VIEWSTATE{:name => "__VIEWSTATE", :type => "hidden", :value => "/wEPDwUJNjE0NDcxMDAzDxYCHglkdGJTa2V0Y2gy3mwAAQAAAP////8BAAAAAAAAAAwCAAAATlN5c3RlbS5EYXRhLCBWZXJzaW9uPTIuMC4wLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjc3YTVjNTYxOTM0ZTA4OQUBAAAAFVN5c3RlbS5EYXRhLkRhdGFUYWJsZQMAAAAZRGF0YVRhYmxlLlJlbW90aW5nVmVyc2lvbglYbWxTY2hlbWELWG1sRGlmZkdyYW0DAQEOU3lzdGVtLlZlcnNpb24CAAAACQMAAAAGBAAAAO8xPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTE2Ij8+DQo8eHM6c2NoZW1hIHhtbG5zPSIiIHhtbG5zOnhzPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSIgeG1sbnM6bXNkYXRhPSJ1cm46c2NoZW1hcy1taWNyb3NvZnQtY29tOnhtbC1tc2RhdGEiPg0KICA8eHM6ZWxlbWVudCBuYW1lPSJUYWJsZSI+DQogICAgPHhzOmNvbXBsZXhUeXBlPg0KICAgICAgPHhzOnNlcXVlbmNlPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJubyIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0ic25vIiB0eXBlPSJ4czppbnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJzaWQiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkZvcnVtX0lEIiB0eXBlPSJ4czppbnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJUb3BpY19JRCIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVGhyZWFkX0lEIiB0eXBlPSJ4czppbnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJTdWJqZWN0IiB0eXBlPSJ4czpzdHJpbmciIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJNZXNzYWdlIiB0eXBlPSJ4czpzdHJpbmciIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJNZXNzYWdlX2RhdGUiIHR5cGU9InhzOmRhdGVUaW1lIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iUG9zdFR5cGUiIHR5cGU9InhzOmludCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9InN0YXR1cyIgdHlwZT0ieHM6Ym9vbGVhbiIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9Ik5pY2tOYW1lIiB0eXBlPSJ4czpzdHJpbmciIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJQYWdlTWFrZSIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVGFnQSIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVGl0bGVUYWciIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkZvcnVtX0lEMSIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0idGVtcF9DYXRfSUQiIHR5cGU9InhzOmludCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkZvcnVtX09yZGVyIiB0eXBlPSJ4czpzaG9ydCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkZvcnVtX25hbWUiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkZvcnVtX2Rlc2NyaXB0aW9uIiB0eXBlPSJ4czpzdHJpbmciIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJEYXRlX1N0YXJ0ZWQiIHR5cGU9InhzOmRhdGVUaW1lIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iTm9fb2ZfdG9waWNzIiB0eXBlPSJ4czppbnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJOb19vZl9wb3N0cyIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iUGFzc3dvcmQiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkZvcnVtX2NvZGUiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkxvY2tlZCIgdHlwZT0ieHM6Ym9vbGVhbiIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlRvcGljX1JlYWQiIHR5cGU9InhzOnVuc2lnbmVkQnl0ZSIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlRvcGljX1Bvc3QiIHR5cGU9InhzOnVuc2lnbmVkQnl0ZSIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlRvcGljX0VkaXQiIHR5cGU9InhzOnVuc2lnbmVkQnl0ZSIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlRvcGljX1JlcGx5IiB0eXBlPSJ4czp1bnNpZ25lZEJ5dGUiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJUb3BpY19Qcmlvcml0eSIgdHlwZT0ieHM6dW5zaWduZWRCeXRlIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVG9waWNfTWFuYWdlMSIgdHlwZT0ieHM6dW5zaWduZWRCeXRlIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVG9waWNfTWFuYWdlMiIgdHlwZT0ieHM6dW5zaWduZWRCeXRlIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVXBsb2FkX0ZpbGUiIHR5cGU9InhzOnVuc2lnbmVkQnl0ZSIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlVwbG9hZF9JbWFnZSIgdHlwZT0ieHM6dW5zaWduZWRCeXRlIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iSGlkZSIgdHlwZT0ieHM6Ym9vbGVhbiIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlNob3dfdG9waWNzIiB0eXBlPSJ4czpzaG9ydCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlRvRXZlcnlvbmUiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9Ikxhc3RfZW50cnlfdG9waWMiIHR5cGU9InhzOmludCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9Ik5pY2VfdG9waWMiIHR5cGU9InhzOmJvb2xlYW4iIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJJbmRleF9wcm9tb3RlIiB0eXBlPSJ4czpib29sZWFuIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iQ29tcGFyZSIgdHlwZT0ieHM6Ym9vbGVhbiIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IlBhZ2VfQ291bnQxIiB0eXBlPSJ4czppbnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJQYWdlX0NvdW50MTAiIHR5cGU9InhzOnNob3J0IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iUGFnZV9Db3VudDk4IiB0eXBlPSJ4czpzaG9ydCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkNfTm9fQ2xhc3NpZmljYXRpb24iIHR5cGU9InhzOnNob3J0IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iUGFnZV9Db3VudDk5IiB0eXBlPSJ4czpzaG9ydCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkNhdENhdCIgdHlwZT0ieHM6aW50IiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iRG5zX0lEIiB0eXBlPSJ4czp1bnNpZ25lZEJ5dGUiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJEaXJfdHlwZSIgdHlwZT0ieHM6dW5zaWduZWRCeXRlIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iRGlyX0lkU3RyIiB0eXBlPSJ4czpzdHJpbmciIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJEaXJfTmFtZVN0ciIgdHlwZT0ieHM6c3RyaW5nIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0icF9ubyIgdHlwZT0ieHM6c2hvcnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJjbGljazIiIHR5cGU9InhzOmludCIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9IkJyYW5kX25hbWUiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9InRlbXBfY2F0X25hbWUiIHR5cGU9InhzOnN0cmluZyIgbXNkYXRhOnRhcmdldE5hbWVzcGFjZT0iIiBtaW5PY2N1cnM9IjAiIC8+DQogICAgICAgIDx4czplbGVtZW50IG5hbWU9Ikxhc3RfVXBkYXRlciIgdHlwZT0ieHM6c3RyaW5nIiBtc2RhdGE6dGFyZ2V0TmFtZXNwYWNlPSIiIG1pbk9jY3Vycz0iMCIgLz4NCiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iVG9waWNfUGFnZU1ha2UiIHR5cGU9InhzOmJvb2xlYW4iIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJNb3ZlZF9Gb3J1bUlEIiB0eXBlPSJ4czppbnQiIG1zZGF0YTp0YXJnZXROYW1lc3BhY2U9IiIgbWluT2NjdXJzPSIwIiAvPg0KICAgICAgPC94czpzZXF1ZW5jZT4NCiAgICA8L3hzOmNvbXBsZXhUeXBlPg0KICA8L3hzOmVsZW1lbnQ+DQogIDx4czplbGVtZW50IG5hbWU9Ik5ld0RhdGFTZXQiIG1zZGF0YTpJc0RhdGFTZXQ9InRydWUiIG1zZGF0YTpNYWluRGF0YVRhYmxlPSJUYWJsZSIgbXNkYXRhOlVzZUN1cnJlbnRMb2NhbGU9InRydWUiPg0KICAgIDx4czpjb21wbGV4VHlwZT4NCiAgICAgIDx4czpjaG9pY2UgbWluT2NjdXJzPSIwIiBtYXhPY2N1cnM9InVuYm91bmRlZCIgLz4NCiAgICA8L3hzOmNvbXBsZXhUeXBlPg0KICA8L3hzOmVsZW1lbnQ+DQo8L3hzOnNjaGVtYT4GBQAAAMI4PGRpZmZncjpkaWZmZ3JhbSB4bWxuczptc2RhdGE9InVybjpzY2hlbWFzLW1pY3Jvc29mdC1jb206eG1sLW1zZGF0YSIgeG1sbnM6ZGlmZmdyPSJ1cm46c2NoZW1hcy1taWNyb3NvZnQtY29tOnhtbC1kaWZmZ3JhbS12MSI+DQogIDxOZXdEYXRhU2V0Pg0KICAgIDxUYWJsZSBkaWZmZ3I6aWQ9IlRhYmxlMSIgbXNkYXRhOnJvd09yZGVyPSIwIj4NCiAgICAgIDxubz4zMjg4PC9ubz4NCiAgICAgIDxzbm8+MzM1NDY4PC9zbm8+DQogICAgICA8c2lkPnBoZXZhPC9zaWQ+DQogICAgICA8Rm9ydW1fSUQ+Mjk3PC9Gb3J1bV9JRD4NCiAgICAgIDxUb3BpY19JRD42MTQwNDI3PC9Ub3BpY19JRD4NCiAgICAgIDxUaHJlYWRfSUQ+MjUwNTU1MzkyPC9UaHJlYWRfSUQ+DQogICAgICA8U3ViamVjdD5EMzAz562U6YyE5qmf5Yqf6IO9PC9TdWJqZWN0Pg0KICAgICAgPE1lc3NhZ2U+Jmx0O2JyIC8mZ3Q7Jmx0O2ltZyBhbHQ9IiIgc3JjPSJodHRwOi8vYXR0YWNocGljLnNvZ2kuY29tLnR3L3VwbG9hZC8yMDEwMTAvMjAxMDEwMDYxNTMwNTI1NTEuanBnIiAvJmd0OyZsdDtpbWcgYWx0PSIiIHNyYz0iaHR0cDovL2F0dGFjaHBpYy5zb2dpLmNvbS50dy91cGxvYWQvMjAxMDEwLzIwMTAxMDA2MTUzMDUzNTUxLmpwZyIgLyZndDsmbHQ7YnIgLyZndDsmbHQ7aW1nIGFsdD0iIiBzcmM9Imh0dHA6Ly9hdHRhY2hwaWMuc29naS5jb20udHcvdXBsb2FkLzIwMTAxMC8yMDEwMTAwNjE1MzA1NTI2OS5qcGciIC8mZ3Q7Jmx0O2ltZyBhbHQ9IiIgc3JjPSJodHRwOi8vYXR0YWNocGljLnNvZ2kuY29tLnR3L3VwbG9hZC8yMDEwMTAvMjAxMDEwMDYxNTMwNTYwOTcuanBnIiAvJmd0OyZsdDticiAvJmd0O0QzMDMg6a2U6Y+h5qmf55qE562U6YyE5qmf5bel5YW377yM5Lmf5piv5pys5qyh5Li75omT5Yqf6IO95LmL5LiA77yM6YCy5YWl6YG45Zau6ZaL5ZWf5b6M77yM5Y+v6Kit5a6a5L2/55So6ICF5L6G6Zu75pmC6Z+/6Yi05aSa5LmF5b6M5pyD6Ieq5YuV6L2J5YWl562U6YyE5qmf77yM5o6l6JGX5Y+v5Lul6Kit5a6a5bCN5pa555qE6Kqe6Z+z55WZ6KiA6KaB5YSy5a2Y5Zyo5ZOq6YKK77yM6ICM5bCN5pa56YCy5YWl562U6YyE5qmf5pmC6IG95Yiw5L2/55So6ICF55qE55WZ6Kmx77yM5Y+v5Lul55So6aCQ6Kit5ZWP5YCZ6Kqe77yM5oiW6Ieq6KGM6YyE6KO95LiA5q616Kqe6Z+z77ya44CM5L2g5aW977yM6YCZ6KOh5piv5omL5qmf546L77yM5pys5Lq654++5Zyo5pyD6K2w5Lit5LiN5pa55L6/5o6l6IG977yM6KuL55WZ6KmxLi4u44CN44CCJmx0O2JyIC8mZ3Q7Jmx0O2JyIC8mZ3Q7Jmx0O2ltZyBhbHQ9IiIgc3JjPSJodHRwOi8vYXR0YWNocGljLnNvZ2kuY29tLnR3L3VwbG9hZC8yMDEwMTAvMjAxMDEwMDYxNTMwNTcwMzUuanBnIiAvJmd0OyZsdDtpbWcgYWx0PSIiIHNyYz0iaHR0cDovL2F0dGFjaHBpYy5zb2dpLmNvbS50dy91cGxvYWQvMjAxMDEwLzIwMTAxMDA2MTUzMDU5OTI2LmpwZyIgLyZndDsmbHQ7aW1nIGFsdD0iIiBzcmM9Imh0dHA6Ly9hdHRhY2hwaWMuc29naS5jb20udHcvdXBsb2FkLzIwMTAxMC8yMDEwMTAwNjE1MzEwMTQ1Ny5qcGciIC8mZ3Q7Jmx0O2JyIC8mZ3Q755W25pyJ5L6G6Zu75pmC77yM5omL5qmfJmx0O2JyIC8mZ3Q7Jmx0O2JyIC8mZ3Q7PC9NZXNzYWdlPg0KICAgICAgPE1lc3NhZ2VfZGF0ZT4yMDEwLTEwLTA2VDE1OjM4OjM1LjY1NyswODowMDwvTWVzc2FnZV9kYXRlPg0KICAgICAgPFBvc3RUeXBlPjI8L1Bvc3RUeXBlPg0KICAgICAgPHN0YXR1cz50cnVlPC9zdGF0dXM+DQogICAgICA8Tmlja05hbWU+RXZhPC9OaWNrTmFtZT4NCiAgICAgIDxQYWdlTWFrZT4wPC9QYWdlTWFrZT4NCiAgICAgIDxUYWdBPjA8L1RhZ0E+DQogICAgICA8VGl0bGVUYWcgLz4NCiAgICAgIDxGb3J1bV9JRDE+Mjk3PC9Gb3J1bV9JRDE+DQogICAgICA8dGVtcF9DYXRfSUQ+MTE8L3RlbXBfQ2F0X0lEPg0KICAgICAgPEZvcnVtX09yZGVyPjA8L0ZvcnVtX09yZGVyPg0KICAgICAgPEZvcnVtX25hbWU+5omL5qmf546L5pyN5YuZ5Lit5b+DPC9Gb3J1bV9uYW1lPg0KICAgICAgPEZvcnVtX2Rlc2NyaXB0aW9uPuaJi+apn+eOi+acjeWLmeS4reW/gzwvRm9ydW1fZGVzY3JpcHRpb24+DQogICAgICA8RGF0ZV9TdGFydGVkPjIwMDMtMTEtMjJUMTk6NTc6MDArMDg6MDA8L0RhdGVfU3RhcnRlZD4NCiAgICAgIDxOb19vZl90b3BpY3M+MTA5MDwvTm9fb2ZfdG9waWNzPg0KICAgICAgPE5vX29mX3Bvc3RzPjU5MTE8L05vX29mX3Bvc3RzPg0KICAgICAgPExvY2tlZD5mYWxzZTwvTG9ja2VkPg0KICAgICAgPFRvcGljX1JlYWQ+MDwvVG9waWNfUmVhZD4NCiAgICAgIDxUb3BpY19Qb3N0PjE8L1RvcGljX1Bvc3Q+DQogICAgICA8VG9waWNfRWRpdD4wPC9Ub3BpY19FZGl0Pg0KICAgICAgPFRvcGljX1JlcGx5PjE8L1RvcGljX1JlcGx5Pg0KICAgICAgPFRvcGljX1ByaW9yaXR5Pjk8L1RvcGljX1ByaW9yaXR5Pg0KICAgICAgPFRvcGljX01hbmFnZTE+OTwvVG9waWNfTWFuYWdlMT4NCiAgICAgIDxUb3BpY19NYW5hZ2UyPjk8L1RvcGljX01hbmFnZTI+DQogICAgICA8VXBsb2FkX0ZpbGU+OTwvVXBsb2FkX0ZpbGU+DQogICAgICA8VXBsb2FkX0ltYWdlPjk8L1VwbG9hZF9JbWFnZT4NCiAgICAgIDxIaWRlPmZhbHNlPC9IaWRlPg0KICAgICAgPFRvRXZlcnlvbmU+Jmx0O2ZvbnQgY29sb3I9IiNmZjAwMDAiJmd0OyZsdDtzdHJvbmcmZ3Q7MS7npoHmraLmvKvnvbXjgIHlu6PlkYrlq4znlpHjgIHop7jniq/ms5XlvovjgIHkuqTmmJPosrfos6PvvIjkvovlpoLvvJrmiJHopoHos6N4eOadseilv++8ieOAgeaIluiIh+S4u+mhjOS4jeespueahOaWh+eroOOAgiZsdDsvc3Ryb25nJmd0OyZsdDsvZm9udCZndDsmbHQ7YnIgLyZndDsmbHQ7Zm9udCBjb2xvcj0iIzAwMDAwMCImZ3Q7Mi7oq4vlhYjniKzlrozmlofnq6DkuYvlvozvvIzlpoLlsIvkuI3liLDmgqjmiYDpnIDopoHnmoTos4foqIrvvIzlho3nmbzooajmlofnq6DoqaLllY/jgIImbHQ7YnIgLyZndDszLuipouWVj+eZvOihqOiri+eboemHj+ips+i/sOWVj+mhjO+8jOS7peS+v+ermeaWueWNlOWKqeWbnuetlOOAgiZsdDticiAvJmd0OzQu5bCN5pys56uZ5pyJ5Lu75L2V5oyH5pWZ5ZKM5oSP6KaL6KuL5aSn5pa55o+Q5Ye677yM5oKo5a+26LK055qE5oSP6KaL5piv5oiR5YCR6YCy5q2l55qE5YuV5Yqb44CCJmx0Oy9mb250Jmd0OzwvVG9FdmVyeW9uZT4NCiAgICAgIDxMYXN0X2VudHJ5X3RvcGljPjYxNzExMDg8L0xhc3RfZW50cnlfdG9waWM+DQogICAgICA8TmljZV90b3BpYz50cnVlPC9OaWNlX3RvcGljPg0KICAgICAgPEluZGV4X3Byb21vdGU+ZmFsc2U8L0luZGV4X3Byb21vdGU+DQogICAgICA8Q29tcGFyZT5mYWxzZTwvQ29tcGFyZT4NCiAgICAgIDxQYWdlX0NvdW50MT4wPC9QYWdlX0NvdW50MT4NCiAgICAgIDxQYWdlX0NvdW50MTA+MDwvUGFnZV9Db3VudDEwPg0KICAgICAgPFBhZ2VfQ291bnQ5OD4wPC9QYWdlX0NvdW50OTg+DQogICAgICA8UGFnZV9Db3VudDk5PjA8L1BhZ2VfQ291bnQ5OT4NCiAgICAgIDxEbnNfSUQ+MTwvRG5zX0lEPg0KICAgICAgPERpcl90eXBlPjM8L0Rpcl90eXBlPg0KICAgICAgPERpcl9JZFN0cj5tb2JpbGUsMTwvRGlyX0lkU3RyPg0KICAgICAgPERpcl9OYW1lU3RyPuaJi+apn+eOiyzkuLvpoYzoqI7oq5YsLuacjeWLmeS4reW/gzwvRGlyX05hbWVTdHI+DQogICAgICA8Y2xpY2syPjMwNTwvY2xpY2syPg0KICAgICAgPEJyYW5kX25hbWU+5YW25LuWPC9CcmFuZF9uYW1lPg0KICAgICAgPHRlbXBfY2F0X25hbWU+5pyN5YuZ5Lit5b+DPC90ZW1wX2NhdF9uYW1lPg0KICAgICAgPExhc3RfVXBkYXRlcj5oYWxlbHV5YTwvTGFzdF9VcGRhdGVyPg0KICAgICAgPFRvcGljX1BhZ2VNYWtlPmZhbHNlPC9Ub3BpY19QYWdlTWFrZT4NCiAgICAgIDxNb3ZlZF9Gb3J1bUlEPjA8L01vdmVkX0ZvcnVtSUQ+DQogICAgPC9UYWJsZT4NCiAgICA8VGFibGUgZGlmZmdyOmlkPSJUYWJsZTIiIG1zZGF0YTpyb3dPcmRlcj0iMSI+DQogICAgICA8bm8+MzMwMDwvbm8+DQogICAgICA8c25vPjMzNTQ2ODwvc25vPg0KICAgICAgPHNpZD5waGV2YTwvc2lkPg0KICAgICAgPEZvcnVtX0lEPjQ0Mzg8L0ZvcnVtX0lEPg0KICAgICAgPFRvcGljX0lEPjYxMzk5ODg8L1RvcGljX0lEPg0KICAgICAgPFRocmVhZF9JRD4yNTA1NTMzMzU8L1RocmVhZF9JRD4NCiAgICAgIDxTdWJqZWN0PuOAkOa0u+WLleWFrOWRiuOAkeWbnuetlOWVj+mhjOWwsemAgeS9oOWFqOaWsOaZruiQiumBlOaJi+apn++8gTwvU3ViamVjdD4NCiAgICAgIDxNZXNzYWdlPuOAkOa0u+WLleWFrOWRiuOAkeWbnuetlOWVj+mhjOWwsemAgeS9oOWFqOaWsOaZruiQiumBlOaJi+apn++8gSZsdDticiAvJmd0OyZsdDticiAvJmd0O+a0u+WLleaZgumWk++8miZsdDticiAvJmd0OyZsdDticiAvJmd0OyZsdDtpbWcgYWx0PSIiIHNyYz0iaHR0cDovL2F0dGFjaHBpYy5zb2dpLmNvbS50dy91cGxvYWQvMjAxMDEwLzIwMTAxMDA3MDAzMTE3ODE2LmpwZyIgLyZndDsmbHQ7YnIgLyZndDsyMDEwLzEwLzA2772eMjAxMC8xMC8xOSDmiKrmraLvvIjku6XnmbzmlofmmYLplpPngrrkuLvvvIkmbHQ7YnIgLyZndDsmbHQ7aW1nIGFsdD0iIiBzcmM9Imh0dHA6Ly9hdHRhY2hwaWMuc29naS5jb20udHcvdXBsb2FkLzIwMTAxMC8yMDEwMTAwNzAwMzExNzYyOS5qcGciIC8mZ3Q7Jmx0O2JyIC8mZ3Q75rS75YuV6L6m5rOV77ya6KuL6Kmz57Sw5p+l55yL5Lul5LiL5YWp5q615b2x54mH77yM5Lim5Zue562U5Lul5LiL5LiJ5YWp5YCL5ZWP6aGM77yM5Y2z5Y+v542y5b6X5oq9542O6LOH5qC877yM5rS75YuV57WQ5p2f5b6M5bCH5YWs5L2I542y5oq9542O6ICF5ZCN5Zau77yM5Lim5LiU5Zyo6KiO6KuW5Y2A5YWs5L2I5b6X542O6ICF77yB77yI5pWs6KuL5a+G5YiH5rOo5oSP5YWo56uZ572u6aCC5YWs5ZGK77yJJmx0O2JyIC8mZ3Q7Jmx0O2JyIC8mZ3Q744CA5ZWP6aGM5LiA77ya5b2x54mH5Lit5YWp5pSvIFBVTElEIEQyMDIg5aSW6J6i5bmV6YW354Kr6LeR6aas54eI6aGv56S655qE5paH5a2X5YiG5Yil54K65L2VPyZsdDticiAvJmd0O+OAgOWVj+mhjOS6jO+8muW9seeJh+S4reWFqeaUryBQVUxJRCBEMjAyIOWkluieouW5lemFt+eCq+i3kemmrOeHiOmhr+ekuueahOaWh+Wtl+WFqeiAheS4jeWQjOS5i+iZleeCuj8mbHQ7YnIgLyZndDvjgIDllY/poYzkuInvvJrouqvngrrkuIDlgIvmtojosrvogIXvvIzkvaDmnIDllpzmraEgUFVMSUQgRDIwMiDnmoTlk6rkuIDpoIXlip/og70/Jmx0O2JyIC8mZ3Q7Jmx0O2JyIC8mZ3Q7Jmx0O2JyIC8mZ3Q75rS75YuV542O5ZOB77yaUFVMSUQgRDIwMiDnsokgeDHvvIjlg7nlgLwgJDYsOTgwIOWFgykgJmx0O2JyIC8mZ3Q7ICZsdDtzcGFuIHN0eWxlPSJjb2xvcjogcmdiKDI1NSwgMjU1LCAyNTUpOyAiJmd0O+a0u+WLleeNjuWTge+8miZsdDsvc3BhbiZndDtQVUxJRCBEMjAyIOm7kSB4Me+8iOWDueWAvCAkNiw5ODAg5YWDKSZsdDticiAvJmd0OyZsdDticiB0eXBlPSJfbW96IiAvJmd0OyZsdDticiAvJmd0OzwvTWVzc2FnZT4NCiAgICAgIDxNZXNzYWdlX2RhdGU+MjAxMC0xMC0wN1QwMDozMTozOS4wMTMrMDg6MDA8L01lc3NhZ2VfZGF0ZT4NCiAgICAgIDxQb3N0VHlwZT4yPC9Qb3N0VHlwZT4NCiAgICAgIDxzdGF0dXM+dHJ1ZTwvc3RhdHVzPg0KICAgICAgPE5pY2tOYW1lPkV2YTwvTmlja05hbWU+DQogICAgICA8UGFnZU1ha2U+MDwvUGFnZU1ha2U+DQogICAgICA8VGFnQT4wPC9UYWdBPg0KICAgICAgPFRpdGxlVGFnIC8+DQogICAgICA8Rm9ydW1fSUQxPjQ0Mzg8L0ZvcnVtX0lEMT4NCiAgICAgIDxGb3J1bV9PcmRlcj4wPC9Gb3J1bV9PcmRlcj4NCiAgICAgIDxGb3J1bV9uYW1lPlBVTElEPC9Gb3J1bV9uYW1lPg0KICAgICAgPEZvcnVtX2Rlc2NyaXB0aW9uPmVlPC9Gb3J1bV9kZXNjcmlwdGlvbj4NCiAgICAgIDxEYXRlX1N0YXJ0ZWQ+MjAxMC0wOS0xMFQyMzo1ODowMCswODowMDwvRGF0ZV9TdGFydGVkPg0KICAgICAgPE5vX29mX3RvcGljcz4wPC9Ob19vZl90b3BpY3M+DQogICAgICA8Tm9fb2ZfcG9zdHM+MDwvTm9fb2ZfcG9zdHM+DQogICAgICA8TG9ja2VkPmZhbHNlPC9Mb2NrZWQ+DQogICAgICA8VG9waWNfUmVhZD4wPC9Ub3BpY19SZWFkPg0KICAgICAgPFRvcGljX1Bvc3Q+MTwvVG9waWNfUG9zdD4NCiAgICAgIDxUb3BpY19FZGl0PjE8L1RvcGljX0VkaXQ+DQogICAgICA8VG9waWNfUmVwbHk+MTwvVG9waWNfUmVwbHk+DQogICAgICA8VG9waWNfUHJpb3JpdHk+ODwvVG9waWNfUHJpb3JpdHk+DQogICAgICA8VG9waWNfTWFuYWdlMT45PC9Ub3BpY19NYW5hZ2UxPg0KICAgICAgPFRvcGljX01hbmFnZTI+OTwvVG9waWNfTWFuYWdlMj4NCiAgICAgIDxVcGxvYWRfRmlsZT45PC9VcGxvYWRfRmlsZT4NCiAgICAgIDxVcGxvYWRfSW1hZ2U+NjwvVXBsb2FkX0ltYWdlPg0KICAgICAgPEhpZGU+ZmFsc2U8L0hpZGU+DQogICAgICA8VG9FdmVyeW9uZT4tLTwvVG9FdmVyeW9uZT4NCiAgICAgIDxMYXN0X2VudHJ5X3RvcGljPjYxNjE5MDU8L0xhc3RfZW50cnlfdG9waWM+DQogICAgICA8TmljZV90b3BpYz5mYWxzZTwvTmljZV90b3BpYz4NCiAgICAgIDxJbmRleF9wcm9tb3RlPmZhbHNlPC9JbmRleF9wcm9tb3RlPg0KICAgICAgPENvbXBhcmU+ZmFsc2U8L0NvbXBhcmU+DQogICAgICA8UGFnZV9Db3VudDE+MDwvUGFnZV9Db3VudDE+DQogICAgICA8UGFnZV9Db3VudDEwPjA8L1BhZ2VfQ291bnQxMD4NCiAgICAgIDxQYWdlX0NvdW50OTg+MDwvUGFnZV9Db3VudDk4Pg0KICAgICAgPENfTm9fQ2xhc3NpZmljYXRpb24+MTwvQ19Ob19DbGFzc2lmaWNhdGlvbj4NCiAgICAgIDxQYWdlX0NvdW50OTk+MDwvUGFnZV9Db3VudDk5Pg0KICAgICAgPERuc19JRD4xPC9EbnNfSUQ+DQogICAgICA8RGlyX3R5cGU+MjwvRGlyX3R5cGU+DQogICAgICA8RGlyX0lkU3RyPm1vYmlsZSwxLDQxMzk8L0Rpcl9JZFN0cj4NCiAgICAgIDxEaXJfTmFtZVN0cj7miYvmqZ/njoss5omL5qmfLFB1bGlkPC9EaXJfTmFtZVN0cj4NCiAgICAgIDxwX25vPjc3ODA8L3Bfbm8+DQogICAgICA8Y2xpY2syPjcyPC9jbGljazI+DQogICAgICA8QnJhbmRfbmFtZT5QdWxpZDwvQnJhbmRfbmFtZT4NCiAgICAgIDxMYXN0X1VwZGF0ZXI+bGluX3Rpbmc8L0xhc3RfVXBkYXRlcj4NCiAgICAgIDxUb3BpY19QYWdlTWFrZT5mYWxzZTwvVG9waWNfUGFnZU1ha2U+DQogICAgICA8TW92ZWRfRm9ydW1JRD4wPC9Nb3ZlZF9Gb3J1bUlEPg0KICAgIDwvVGFibGU+DQogIDwvTmV3RGF0YVNldD4NCjwvZGlmZmdyOmRpZmZncmFtPgQDAAAADlN5c3RlbS5WZXJzaW9uBAAAAAZfTWFqb3IGX01pbm9yBl9CdWlsZAlfUmV2aXNpb24AAAAACAgICAIAAAAAAAAA//////////8LFgJmD2QWBgIDDw8WAh4EVGV4dAVJ5L2g55qE5L2N572u77yaU29naSAvIDxhIGhyZWY9J2luZGV4LmFzcCc+5pyD5ZOh5Lit5b+DPC9hPiAvIOaIkeeahOiNieeov2RkAg0PFgQeBWNsYXNzBQltZW51Y2xpY2seCWlubmVyaHRtbAUM5oiR55qE6I2J56i/ZAIZD2QWAgIBD2QWAgIBDzwrAA0BAA8WBB4LXyFEYXRhQm91bmRnHgtfIUl0ZW1Db3VudAICZBYCZg9kFgYCAQ9kFhhmD2QWAgIBDw8WAh8BBUM8c3Ryb25nIGNsYXNzPSdDSG1vYmlsZSc+W+aJi+apn+eOi108L3N0cm9uZz4g5omL5qmf546L5pyN5YuZ5Lit5b+DZGQCAQ9kFgICAQ8PFgIfAQUTRDMwM+etlOmMhOapn+WKn+iDvWRkAgIPZBYCAgEPDxYCHwEFDOS/ruaUueaWh+eroGRkAgMPZBYCAgEPDxYCHwEFEzIwMTAvMTAvMDYgMTU6Mzg6MzVkZAIED2QWAgIBDw8WAh8BBQQzMjg4ZGQCBQ9kFgICAQ8PFgIfAQUDMjk3ZGQCBg9kFgICAQ8PFgIfAQUHNjE0MDQyN2RkAgcPZBYCAgEPDxYCHwEFCTI1MDU1NTM5MmRkAggPZBYCAgEPDxYCHwEFATJkZAIJD2QWAgIBDw8WAh8BBQExZGQCCg9kFgICAQ8PFgIfAQUBMGRkAgsPZBYCAgEPFgIeBGhyZWYFcGh0dHA6Ly93d3cuc29naS5jb20udHcvbmV3Zm9ydW0vVG9waWNfcG9zdC5hc3B4P2ZvcnVtX25vPTI5NyZ0aHJlYWRfSUQ9MjUwNTU1MzkyJnRvcGljX0lkPTYxNDA0MjcmZWRpdD0xJm5vPTMyODhkAgIPZBYYZg9kFgICAQ8PFgIfAQUzPHN0cm9uZyBjbGFzcz0nQ0htb2JpbGUnPlvmiYvmqZ/njotdPC9zdHJvbmc+IFBVTElEZGQCAQ9kFgICAQ8PFgIfAQU/44CQ5rS75YuV5YWs5ZGK44CR5Zue562U5ZWP6aGM5bCx6YCB5L2g5YWo5paw5pmu6JCK6YGU5omL5qmf77yBZGQCAg9kFgICAQ8PFgIfAQUM5L+u5pS55paH56ugZGQCAw9kFgICAQ8PFgIfAQUTMjAxMC8xMC8wNyAwMDozMTozOWRkAgQPZBYCAgEPDxYCHwEFBDMzMDBkZAIFD2QWAgIBDw8WAh8BBQQ0NDM4ZGQCBg9kFgICAQ8PFgIfAQUHNjEzOTk4OGRkAgcPZBYCAgEPDxYCHwEFCTI1MDU1MzMzNWRkAggPZBYCAgEPDxYCHwEFATJkZAIJD2QWAgIBDw8WAh8BBQExZGQCCg9kFgICAQ8PFgIfAQUBMGRkAgsPZBYCAgEPFgIfBgVxaHR0cDovL3d3dy5zb2dpLmNvbS50dy9uZXdmb3J1bS9Ub3BpY19wb3N0LmFzcHg/Zm9ydW1fbm89NDQzOCZ0aHJlYWRfSUQ9MjUwNTUzMzM1JnRvcGljX0lkPTYxMzk5ODgmZWRpdD0xJm5vPTMzMDBkAgMPDxYCHgdWaXNpYmxlaGRkGAEFI2N0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkZ3Z3U2tldGNoDzwrAAoBCAIBZGiz4+SOgVmHsdOhjaFKwMGXOl4m"}/
                  :javascript
                    //<![CDATA[
                    var theForm = document.forms['aspnetForm'];
                    if (!theForm) {
                        theForm = document.aspnetForm;
                    }
                    function __doPostBack(eventTarget, eventArgument) {
                        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                            theForm.__EVENTTARGET.value = eventTarget;
                            theForm.__EVENTARGUMENT.value = eventArgument;
                            theForm.submit();
                        }
                    }
                    //]]>
                  %div
                    %input#__EVENTVALIDATION{:name => "__EVENTVALIDATION", :type => "hidden", :value => "/wEWAwL32NKFBQKZrtfCCAKQuNfCCCVhdsRnZD/soXt1xmdh0YLOXWcf"}/
                  %div
                    %table.spec2
                      %tbody
                        %tr.Discussbar
                          %th{:scope => "col"} &nbsp;討論區
                          %th{:scope => "col"} &nbsp;文章標題
                          %th{:scope => "col"} &nbsp;發文類型
                          %th{:scope => "col"} &nbsp;存檔時間
                          %th{:scope => "col"} &nbsp;
                        %tr.Discusseven
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl02_lblForumName
                              %strong.CHmobile [手機王]
                              手機王服務中心
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl02_lblSubject &nbsp;&nbsp;D303答錄機功能
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl02_lblPostTypeName 修改文章
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl02_lblMessage_date 2010/10/06 15:38:35
                          %td
                            %a#ctl00_ContentPlaceHolder1_gvwSketch_ctl02_aLinkEdit{:href => "http://www.sogi.com.tw/newforum/Topic_post.aspx?forum_no=297&amp;thread_ID=250555392&amp;topic_Id=6140427&amp;edit=1&amp;no=3288"} 編輯
                            %a#ctl00_ContentPlaceHolder1_gvwSketch_ctl02_lbtnDelete{:href => "javascript:__doPostBack('ctl00$ContentPlaceHolder1$gvwSketch$ctl02$lbtnDelete','')", :onclick => "if (confirm('\347\242\272\345\256\232\345\210\252\351\231\244\346\255\244\347\255\206\350\263\207\346\226\231\345\227\216\357\274\237\\n\346\263\250\346\204\217\357\274\232\350\215\211\347\250\277\345\210\252\351\231\244\345\276\214\347\204\241\346\263\225\345\233\236\345\276\251\357\274\201')==false) {return false;};"} 刪除
                        %tr.Discussodd
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl03_lblForumName
                              %strong.CHmobile [手機王]
                              PULID
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl03_lblSubject 【活動公告】回答問題就送你全新普萊達手機！
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl03_lblPostTypeName 修改文章
                          %td
                            %span#ctl00_ContentPlaceHolder1_gvwSketch_ctl03_lblMessage_date 2010/10/07 00:31:39
                          %td
                            %a#ctl00_ContentPlaceHolder1_gvwSketch_ctl03_aLinkEdit{:href => "http://www.sogi.com.tw/newforum/Topic_post.aspx?forum_no=4438&amp;thread_ID=250553335&amp;topic_Id=6139988&amp;edit=1&amp;no=3300"} 編輯
                            %a#ctl00_ContentPlaceHolder1_gvwSketch_ctl03_lbtnDelete{:href => "javascript:__doPostBack('ctl00$ContentPlaceHolder1$gvwSketch$ctl03$lbtnDelete','')", :onclick => "if (confirm('\347\242\272\345\256\232\345\210\252\351\231\244\346\255\244\347\255\206\350\263\207\346\226\231\345\227\216\357\274\237\\n\346\263\250\346\204\217\357\274\232\350\215\211\347\250\277\345\210\252\351\231\244\345\276\214\347\204\241\346\263\225\345\233\236\345\276\251\357\274\201')==false) {return false;};"} 刪除
                  %span#ctl00_ContentPlaceHolder1_lblNoLogin
                  %span#ctl00_ContentPlaceHolder1_lblNoData
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
