!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_member.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .Mfootermain
            .Mnav
              .Mtabs{:style => "width:690px;"}
                .Mtab
                  %a{:href => "#", :title => "\351\246\226\351\240\201"}
                    首頁
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\350\263\207\346\226\231"}
                    會員資料
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\346\234\200\346\204\233"}
                    我的最愛
                .Mtab.on
                  %a{:href => "#", :title => "\346\210\221\347\232\204\345\234\226\345\272\253"}
                    我的圖庫
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\250\212\346\201\257"}
                    我的訊息
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\215\211\347\250\277"}
                    我的草稿
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\346\254\212\347\233\212"}
                    會員權益
                .Mtab
                  %a{:href => "#", :title => "\347\264\205\345\210\251\350\264\210\345\223\201"}
                    紅利贈品
                .Mtab
                  %a{:href => "#", :title => "\346\264\273\345\213\225\345\260\210\345\215\200"}
                    活動專區
              .MtabsEnd
            .Mdatas
              .MdataDown
                %form#aspnetForm{:action => "img_Manage.aspx", :method => "post", :name => "aspnetForm"}
                  %div
                    %input#__EVENTTARGET{:name => "__EVENTTARGET", :type => "hidden", :value => ""}/
                    %input#__EVENTARGUMENT{:name => "__EVENTARGUMENT", :type => "hidden", :value => ""}/
                    %input#__LASTFOCUS{:name => "__LASTFOCUS", :type => "hidden", :value => ""}/
                    %input#__VIEWSTATE{:name => "__VIEWSTATE", :type => "hidden", :value => "/wEPDwULLTEyODMxMzk2ODgPZBYCZg9kFgQCAw8PFgIeBFRleHQFSeS9oOeahOS9jee9ru+8mlNvZ2kgLyA8YSBocmVmPSdpbmRleC5hc3AnPuacg+WToeS4reW/gzwvYT4gLyDmiJHnmoTlnJbluqtkZAIJDxYEHgVjbGFzcwUJbWVudWNsaWNrHglpbm5lcmh0bWwFIg0KICAgICAgICAgICAgICAgICAgICDmiJHnmoTlnJbluqtkZC4EDO+It6rBIWaH8ZC/dgk6EbL7"}/
                  :javascript
                    //<![CDATA[
                    var theForm = document.forms['aspnetForm'];
                    if (!theForm) {
                        theForm = document.aspnetForm;
                    }
                    function __doPostBack(eventTarget, eventArgument) {
                        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                            theForm.__EVENTTARGET.value = eventTarget;
                            theForm.__EVENTARGUMENT.value = eventArgument;
                            theForm.submit();
                        }
                    }
                    //]]>
                  %div
                    %input#__EVENTVALIDATION{:name => "__EVENTVALIDATION", :type => "hidden", :value => "/wEWDALXvcG8CAKHuuvLBAL/peb5DALvyswXAvDKzBcC8crMFwLyyswXAvPKzBcCy5So/g8C2/uCkAMCxPuCkAMCvIiF4gTF/1loaOvfCTYXYJeHc5RO6tGXOw=="}/
                  注意：
                  %br>/
                  1.當你刪除「我的圖庫」中的圖片時，該圖片只會從「我的圖庫」收錄中消失，並「不會」在網頁文章中消失。
                  %br>/
                  2.此圖庫只顯示「已收錄」的圖片。
                  %br/
                  %input#ctl00_ContentPlaceHolder1_hfchBoxV{:name => "ctl00$ContentPlaceHolder1$hfchBoxV", :type => "hidden", :value => "sdfs"}/
                  = succeed "\347\233\256\345\211\215\351\241\257\347\244\272\357\274\232" do
                    %br/
                  %select#ctl00_ContentPlaceHolder1_ddl_sel{:name => "ctl00$ContentPlaceHolder1$ddl_sel", :onchange => "javascript:setTimeout('__doPostBack(\\'ctl00$ContentPlaceHolder1$ddl_sel\\',\\'\\')', 0)"}
                    %option{:value => "0"} 全部
                    %option{:value => "1"} 一年內
                    %option{:value => "2"} 半年內
                    %option{:value => "3"} 前100個
                    %option{:selected => "selected", :value => "4"} 前50個
                  排序：
                  %select#ctl00_ContentPlaceHolder1_ddl_ord{:name => "ctl00$ContentPlaceHolder1$ddl_ord", :onchange => "javascript:setTimeout('__doPostBack(\\'ctl00$ContentPlaceHolder1$ddl_ord\\',\\'\\')', 0)"}
                    %option{:selected => "selected", :value => "0"} 新～舊
                    %option{:value => "1"} 舊～新
                  \&nbsp;&nbsp;
                  %input#btnSelectAll{:onclick => "CheckAll(true);", :style => "height: 22px", :type => "button", :value => "\345\205\250\351\201\270"}/
                  %input#btnUnSelectAll{:onclick => "CheckAll(false);", :style => "height: 22px", :type => "button", :value => "\345\217\226\346\266\210"}/
                  　
                  %input#ctl00_ContentPlaceHolder1_but_del{:name => "ctl00$ContentPlaceHolder1$but_del", :onclick => "javascript:checkBox();", :type => "submit", :value => "\345\210\252\351\231\244"}/
                  %br/
                  %br/
                  .back
                    %p 全部共　50　筆
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "90%"}
                    %tbody
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c1{:name => "ckBox", :type => "checkbox", :value => "276750"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201012/20101210122242608.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201012/20101210122242608S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c2{:name => "ckBox", :type => "checkbox", :value => "276749"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201012/20101210122242014.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201012/20101210122242014S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c3{:name => "ckBox", :type => "checkbox", :value => "276748"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201012/20101210122241702.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201012/20101210122241702S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c4{:name => "ckBox", :type => "checkbox", :value => "276747"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201012/20101210122234186.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201012/20101210122234186S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c5{:name => "ckBox", :type => "checkbox", :value => "268181"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165438317.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165438317S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c6{:name => "ckBox", :type => "checkbox", :value => "268180"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165438145.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165438145S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c7{:name => "ckBox", :type => "checkbox", :value => "268179"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165437848.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165437848S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c8{:name => "ckBox", :type => "checkbox", :value => "268178"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165437708.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165437708S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c9{:name => "ckBox", :type => "checkbox", :value => "268177"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165437552.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165437552S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c10{:name => "ckBox", :type => "checkbox", :value => "268176"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165437364.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165437364S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c11{:name => "ckBox", :type => "checkbox", :value => "268175"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165437239.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165437239S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c12{:name => "ckBox", :type => "checkbox", :value => "268174"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165436989.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165436989S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c13{:name => "ckBox", :type => "checkbox", :value => "268173"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165436817.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165436817S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c14{:name => "ckBox", :type => "checkbox", :value => "268172"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165436645.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165436645S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c15{:name => "ckBox", :type => "checkbox", :value => "268171"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165436505.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165436505S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c16{:name => "ckBox", :type => "checkbox", :value => "268170"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165436364.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165436364S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c17{:name => "ckBox", :type => "checkbox", :value => "268169"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165436161.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165436161S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c18{:name => "ckBox", :type => "checkbox", :value => "268168"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435958.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435958S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c19{:name => "ckBox", :type => "checkbox", :value => "268167"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435848.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435848S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c20{:name => "ckBox", :type => "checkbox", :value => "268166"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435677.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435677S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c21{:name => "ckBox", :type => "checkbox", :value => "268165"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435583.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435583S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c22{:name => "ckBox", :type => "checkbox", :value => "268164"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435442.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435442S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c23{:name => "ckBox", :type => "checkbox", :value => "268163"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435302.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435302S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c24{:name => "ckBox", :type => "checkbox", :value => "268162"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165435177.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165435177S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c25{:name => "ckBox", :type => "checkbox", :value => "268161"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165434989.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165434989S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c26{:name => "ckBox", :type => "checkbox", :value => "268160"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165434817.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165434817S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c27{:name => "ckBox", :type => "checkbox", :value => "268159"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165434614.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165434614S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c28{:name => "ckBox", :type => "checkbox", :value => "268158"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165434411.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165434411S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c29{:name => "ckBox", :type => "checkbox", :value => "268157"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165434239.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165434239S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c30{:name => "ckBox", :type => "checkbox", :value => "268156"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165433833.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165433833S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c31{:name => "ckBox", :type => "checkbox", :value => "268155"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165433598.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165433598S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c32{:name => "ckBox", :type => "checkbox", :value => "268154"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165433380.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165433380S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c33{:name => "ckBox", :type => "checkbox", :value => "268153"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165433223.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165433223S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c34{:name => "ckBox", :type => "checkbox", :value => "268152"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165433036.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165433036S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c35{:name => "ckBox", :type => "checkbox", :value => "268151"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165432880.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165432880S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c36{:name => "ckBox", :type => "checkbox", :value => "268150"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165432739.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165432739S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c37{:name => "ckBox", :type => "checkbox", :value => "268149"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165432583.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165432583S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c38{:name => "ckBox", :type => "checkbox", :value => "268148"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165432333.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165432333S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c39{:name => "ckBox", :type => "checkbox", :value => "268147"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165432177.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165432177S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c40{:name => "ckBox", :type => "checkbox", :value => "268146"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165431880.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165431880S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c41{:name => "ckBox", :type => "checkbox", :value => "268145"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165431770.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165431770S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c42{:name => "ckBox", :type => "checkbox", :value => "268144"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165430942.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165430942S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c43{:name => "ckBox", :type => "checkbox", :value => "268143"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165430833.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165430833S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c44{:name => "ckBox", :type => "checkbox", :value => "268142"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165430692.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165430692S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c45{:name => "ckBox", :type => "checkbox", :value => "268141"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165430458.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165430458S.gif"}/
                          %br/
                      %tr
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c46{:name => "ckBox", :type => "checkbox", :value => "268140"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165430286.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165430286S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c47{:name => "ckBox", :type => "checkbox", :value => "268139"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165430098.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165430098S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c48{:name => "ckBox", :type => "checkbox", :value => "268138"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165429989.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165429989S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c49{:name => "ckBox", :type => "checkbox", :value => "268137"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165429692.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165429692S.gif"}/
                          %br/
                        %td{:align => "center", :style => "width: 100px; height: 150px;"}
                          %input#c50{:name => "ckBox", :type => "checkbox", :value => "268136"}/
                          %br/
                          %div{:align => "center", :style => "width: 100px; height: 150px;"}
                            %img{:alt => "\351\273\236\346\210\221\345\217\257\346\224\276\345\244\247\345\234\226", :onclick => "window.open('http://attach.sogi.com.tw/upload/201011/20101112165429552.gif','photo','scrollbars=no,width=720,height=580')", :src => "http://attach.sogi.com.tw/upload/201011/20101112165429552S.gif"}/
                          %br/
                  :javascript
		//全選or取消的Function：傳入選取或取消，此寫法只限用於每個checkbox都該被選取
		function CheckAll(blnCheck)
	    {
            var ck= document.getElementById('aspnetForm');
            //有套用master的版面 form名子會比較不一樣
            //alert(ck.length);
	        for (var i=0;i<ck.length;i++) {  

                if (ck[i].type === 'checkbox' )
                {
                    ck[i].checked = blnCheck;
                    //ck[i].checked = true;   
                }
            }
        } 
        //將所有被打勾的checkBOX value 給hfchBoxV
        function checkBox()
        {  
               var ck= document.getElementById('aspnetForm');
               var ohfchBoxV = document.getElementById('ctl00_ContentPlaceHolder1_hfchBoxV');
               
               ohfchBoxV.value="";
              for (var i=0; i < ck.length; i++ ) {  
                if (ck[i].type === 'checkbox' )
                {
                    if (ck[i].checked==true) 
                    {
                         ohfchBoxV.value += ck[i].value + '|';
                    }
                }
              }
                //alert(ohfchBoxV.value);
        }
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
