!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-mobiModify.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_DiscussBoard.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .mobiSearch
            .mobiTitle
              最新手機
            %form#form2{:action => "ProductChannel.aspx?c=1", :method => "post", :name => "form2"}
              %div
                %input#__EVENTTARGET{:name => "__EVENTTARGET", :type => "hidden", :value => ""}/
                %input#__EVENTARGUMENT{:name => "__EVENTARGUMENT", :type => "hidden", :value => ""}/
                %input#__VIEWSTATE{:name => "__VIEWSTATE", :type => "hidden", :value => "/wEPDwULLTIwMDE1NjcyODlkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYfBR1teUVhc3lTZWFyY2gxJE11c2ljQ2hlY2tCb3gkMAUdbXlFYXN5U2VhcmNoMSRNdXNpY0NoZWNrQm94JDEFHW15RWFzeVNlYXJjaDEkTXVzaWNDaGVja0JveCQyBR1teUVhc3lTZWFyY2gxJE11c2ljQ2hlY2tCb3gkMwUdbXlFYXN5U2VhcmNoMSRNdXNpY0NoZWNrQm94JDQFHW15RWFzeVNlYXJjaDEkTXVzaWNDaGVja0JveCQ1BR1teUVhc3lTZWFyY2gxJE11c2ljQ2hlY2tCb3gkNgUdbXlFYXN5U2VhcmNoMSRNdXNpY0NoZWNrQm94JDcFHW15RWFzeVNlYXJjaDEkTXVzaWNDaGVja0JveCQ4BR1teUVhc3lTZWFyY2gxJE11c2ljQ2hlY2tCb3gkOAUhbXlFYXN5U2VhcmNoMSRUcG9ydENoZWNrQm94TGlzdCQwBSFteUVhc3lTZWFyY2gxJFRwb3J0Q2hlY2tCb3hMaXN0JDEFIW15RWFzeVNlYXJjaDEkVHBvcnRDaGVja0JveExpc3QkMgUhbXlFYXN5U2VhcmNoMSRUcG9ydENoZWNrQm94TGlzdCQyBR9teUVhc3lTZWFyY2gxJFdlYkNoZWNrQm94TGlzdCQwBR9teUVhc3lTZWFyY2gxJFdlYkNoZWNrQm94TGlzdCQxBR9teUVhc3lTZWFyY2gxJFdlYkNoZWNrQm94TGlzdCQyBR9teUVhc3lTZWFyY2gxJFdlYkNoZWNrQm94TGlzdCQyBR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQwBR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQxBR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQyBR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQzBR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQ0BR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQ1BR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQ2BR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQ3BR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQ4BR9teUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQ5BSBteUVhc3lTZWFyY2gxJGJub0NoZWNrQm94TGlzdCQxMAUgbXlFYXN5U2VhcmNoMSRibm9DaGVja0JveExpc3QkMTEFIG15RWFzeVNlYXJjaDEkYm5vQ2hlY2tCb3hMaXN0JDExQjwR82fPWXU6/467jKsYVegJOtM="}/
              :javascript
                //<![CDATA[
                var theForm = document.forms['form2'];
                if (!theForm) {
                    theForm = document.form2;
                }
                function __doPostBack(eventTarget, eventArgument) {
                    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                        theForm.__EVENTTARGET.value = eventTarget;
                        theForm.__EVENTARGUMENT.value = eventArgument;
                        theForm.submit();
                    }
                }
                //]]>
              :javascript
                <!--
                function showHideLayers() { //v9.0
                  var i,p,v,obj,args=showHideLayers.arguments;
                  for (i=0; i<(args.length-2); i+=3) 
                  with (document) if (getElementById && ((obj=getElementById(args[i]))!=null)) { v=args[i+2];
                    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
                    obj.visibility=v; }
                }
                //-->
              #myEasySearch1_easySearch
                %h3.tle-find.hide1{:title => "\346\211\276\346\211\213\346\251\237"}
                  %br/
                #TabbedPanelsMobile.tp.tp-col3.tp-inn
                  #top.hide
                  .tpcGroup
                    .tpc
                      %table.tFind.stripeMe{:width => "100%"}
                        %tbody
                          %tr
                            %th 空機價位
                            %td
                              %table#myEasySearch1_price.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_price{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_price_0{:name => "myEasySearch1$price", :type => "radio", :value => "0"}/
                                              %label{:for => "myEasySearch1_price_0"} 不拘(含未上市)
                                            %td
                                              %input#myEasySearch1_price_1{:name => "myEasySearch1$price", :type => "radio", :value => "5"}/
                                              %label{:for => "myEasySearch1_price_1"} 5000元(含)↓
                                            %td
                                              %input#myEasySearch1_price_2{:name => "myEasySearch1$price", :type => "radio", :value => "5_10"}/
                                              %label{:for => "myEasySearch1_price_2"} 5000-10000元↓
                                          %tr
                                            %td
                                              %input#myEasySearch1_price_3{:name => "myEasySearch1$price", :type => "radio", :value => "10_15"}/
                                              %label{:for => "myEasySearch1_price_3"} 10000-15000元↓
                                            %td
                                              %input#myEasySearch1_price_4{:checked => "checked", :name => "myEasySearch1$price", :type => "radio", :value => "176"}/
                                              %label{:for => "myEasySearch1_price_4"} 已上市
                                            %td
                          %tr
                            %th 頻率系統
                            %td
                              %table#myEasySearch1_fsys_72.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_fsys_72{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_fsys_72_0{:name => "myEasySearch1$fsys_72", :type => "radio", :value => "72_1542_(3.75G HSUPA)"}/
                                              %label{:for => "myEasySearch1_fsys_72_0"} 3.75G(HSUPA)
                                            %td
                                              %input#myEasySearch1_fsys_72_1{:name => "myEasySearch1$fsys_72", :type => "radio", :value => "72_412_3.5G(HSDPA)"}/
                                              %label{:for => "myEasySearch1_fsys_72_1"} 3.5G(HSDPA)
                                            %td
                                              %input#myEasySearch1_fsys_72_2{:name => "myEasySearch1$fsys_72", :type => "radio", :value => "72_416_3G(WCDMA)"}/
                                              %label{:for => "myEasySearch1_fsys_72_2"} 3G(WCDMA)
                                          %tr
                                            %td
                                              %input#myEasySearch1_fsys_72_3{:name => "myEasySearch1$fsys_72", :type => "radio", :value => "72_408_409_410_411_2.5G(GSM)"}/
                                              %label{:for => "myEasySearch1_fsys_72_3"} 2.5G(GSM)
                                            %td
                                              %input#myEasySearch1_fsys_72_4{:name => "myEasySearch1$fsys_72", :type => "radio", :value => "72_407_CDMA2000(\344\272\236\345\244\252)"}/
                                              %label{:for => "myEasySearch1_fsys_72_4"} CDMA2000(亞太)
                                            %td
                                              %input#myEasySearch1_fsys_72_5{:name => "myEasySearch1$fsys_72", :type => "radio", :value => "72_414_417_PHS"}/
                                              %label{:for => "myEasySearch1_fsys_72_5"} PHS
                          %tr
                            %th 機身設計
                            %td
                              %table#myEasySearch1_design_117.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_design_117{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_design_117_0{:checked => "checked", :name => "myEasySearch1$design_117", :type => "radio", :value => "0"}/
                                              %label{:for => "myEasySearch1_design_117_0"} 不拘
                                            %td
                                              %input#myEasySearch1_design_117_1{:name => "myEasySearch1$design_117", :type => "radio", :value => "117_710_\347\233\264\347\253\213\345\274\217"}/
                                              %label{:for => "myEasySearch1_design_117_1"} 直立式
                                            %td
                                              %input#myEasySearch1_design_117_2{:name => "myEasySearch1$design_117", :type => "radio", :value => "117_712_\346\273\221\350\223\213\345\274\217"}/
                                              %label{:for => "myEasySearch1_design_117_2"} 滑蓋式
                                            %td
                                              %input#myEasySearch1_design_117_3{:name => "myEasySearch1$design_117", :type => "radio", :value => "117_711_\346\212\230\347\226\212\345\274\217"}/
                                              %label{:for => "myEasySearch1_design_117_3"} 折疊式
                          %tr
                            %th 主螢幕尺寸
                            %td
                              %table#myEasySearch1_size_82.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_size_82{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_size_82_0{:checked => "checked", :name => "myEasySearch1$size_82", :type => "radio", :value => "0"}/
                                              %label{:for => "myEasySearch1_size_82_0"} 不拘
                                            %td
                                              %input#myEasySearch1_size_82_1{:name => "myEasySearch1$size_82", :type => "radio", :value => "1.8"}/
                                              %label{:for => "myEasySearch1_size_82_1"} 1.8吋 (含)↑
                                            %td
                                              %input#myEasySearch1_size_82_2{:name => "myEasySearch1$size_82", :type => "radio", :value => "2.0"}/
                                              %label{:for => "myEasySearch1_size_82_2"} 2吋 (含)↑
                                          %tr
                                            %td
                                              %input#myEasySearch1_size_82_3{:name => "myEasySearch1$size_82", :type => "radio", :value => "2.4"}/
                                              %label{:for => "myEasySearch1_size_82_3"} 2.4吋 (含)↑
                                            %td
                                              %input#myEasySearch1_size_82_4{:name => "myEasySearch1$size_82", :type => "radio", :value => "3.0"}/
                                              %label{:for => "myEasySearch1_size_82_4"} 3吋 (含)↑
                                            %td
                                              %input#myEasySearch1_size_82_5{:name => "myEasySearch1$size_82", :type => "radio", :value => "4.0"}/
                                              %label{:for => "myEasySearch1_size_82_5"} 4吋 (含)↑
                          %tr
                            %th 主螢幕解析度
                            %td
                              %table#myEasySearch1_dip_84.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_dip_84{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_dip_84_0{:checked => "checked", :name => "myEasySearch1$dip_84", :type => "radio", :value => "0"}/
                                              %label{:for => "myEasySearch1_dip_84_0"} 不拘
                                            %td
                                              %input#myEasySearch1_dip_84_1{:name => "myEasySearch1$dip_84", :type => "radio", :value => "84_7.68_240x320"}/
                                              %label{:for => "myEasySearch1_dip_84_1"} QVGA以上(240x320)
                                            %td
                                              %input#myEasySearch1_dip_84_2{:name => "myEasySearch1$dip_84", :type => "radio", :value => "84_15.37_640x480"}/
                                              %label{:for => "myEasySearch1_dip_84_2"} VGA以上(640x480)
                          %tr
                            %th 手機系統
                            %td
                              %table#myEasySearch1_soSystem_79.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_soSystem_79{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_soSystem_79_0{:checked => "checked", :name => "myEasySearch1$soSystem_79", :type => "radio", :value => "0"}/
                                              %label{:for => "myEasySearch1_soSystem_79_0"} 不拘
                                            %td
                                              %input#myEasySearch1_soSystem_79_1{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_486_488_Symbian"}/
                                              %label{:for => "myEasySearch1_soSystem_79_1"} Symbian
                                            %td
                                              %input#myEasySearch1_soSystem_79_2{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_490_1535_Windows Mobile(6.0/6.1)"}/
                                              %label{:for => "myEasySearch1_soSystem_79_2"} WM(6.0/6.1)
                                          %tr
                                            %td
                                              %input#myEasySearch1_soSystem_79_3{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_3983_4044_Windows Mobile(6.5/6.5.3)"}/
                                              %label{:for => "myEasySearch1_soSystem_79_3"} WM(6.5/6.5.3)
                                            %td
                                              %input#myEasySearch1_soSystem_79_4{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_4093_Windows Phone 7"}/
                                              %label{:for => "myEasySearch1_soSystem_79_4"} Windows Phone 7
                                            %td
                                              %input#myEasySearch1_soSystem_79_5{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_4045_4046_4047_4048_Android"}/
                                              %label{:for => "myEasySearch1_soSystem_79_5"} Android
                                          %tr
                                            %td
                                              %input#myEasySearch1_soSystem_79_6{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_494_Linux"}/
                                              %label{:for => "myEasySearch1_soSystem_79_6"} Linux
                                            %td
                                              %input#myEasySearch1_soSystem_79_7{:name => "myEasySearch1$soSystem_79", :type => "radio", :value => "79_496_MAC OS X (iPhone)"}/
                                              %label{:for => "myEasySearch1_soSystem_79_7"} MAC OS X (iPhone)
                                            %td
                          %tr
                            %th 相機畫素
                            %td
                              %table#myEasySearch1_cmr_73.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_cmr_73{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_cmr_73_0{:name => "myEasySearch1$cmr_73", :type => "radio", :value => "0.01"}/
                                              %label{:for => "myEasySearch1_cmr_73_0"} 無相機
                                            %td
                                              %input#myEasySearch1_cmr_73_1{:name => "myEasySearch1$cmr_73", :type => "radio", :value => "73_2.99_300\350\220\254 (\344\270\215\345\220\253) \344\273\245\344\270\213"}/
                                              %label{:for => "myEasySearch1_cmr_73_1"} 300萬 (不含)↓
                                            %td
                                              %input#myEasySearch1_cmr_73_2{:name => "myEasySearch1$cmr_73", :type => "radio", :value => "73_3_300\350\220\254 (\345\220\253) \344\273\245\344\270\212"}/
                                              %label{:for => "myEasySearch1_cmr_73_2"} 300萬 (含)↑
                                          %tr
                                            %td
                                              %input#myEasySearch1_cmr_73_3{:name => "myEasySearch1$cmr_73", :type => "radio", :value => "73_5_500\350\220\254 (\345\220\253) \344\273\245\344\270\212"}/
                                              %label{:for => "myEasySearch1_cmr_73_3"} 500萬 (含)↑
                                            %td
                                              %input#myEasySearch1_cmr_73_4{:name => "myEasySearch1$cmr_73", :type => "radio", :value => "73_8_800\350\220\254 (\345\220\253) \344\273\245\344\270\212"}/
                                              %label{:for => "myEasySearch1_cmr_73_4"} 800萬 (含)↑
                                            %td
                          %tr
                            %th 影音多媒體
                            %td
                              %table#myEasySearch1_MusicCheckBox.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_MusicCheckBox{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_0{:name => "myEasySearch1$MusicCheckBox$0", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_0"} MP3播放
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_3{:name => "myEasySearch1$MusicCheckBox$3", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_3"} 自動對焦
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_6{:name => "myEasySearch1$MusicCheckBox$6", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_6"} 觸控螢幕
                                          %tr
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_1{:name => "myEasySearch1$MusicCheckBox$1", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_1"} FM收音機
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_4{:name => "myEasySearch1$MusicCheckBox$4", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_4"} 微笑對焦
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_7{:name => "myEasySearch1$MusicCheckBox$7", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_7"} GPS
                                          %tr
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_2{:name => "myEasySearch1$MusicCheckBox$2", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_2"} A2DP
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_5{:name => "myEasySearch1$MusicCheckBox$5", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_5"} 臉部辨識
                                            %td
                                              %input#myEasySearch1_MusicCheckBox_8{:name => "myEasySearch1$MusicCheckBox$8", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_MusicCheckBox_8"} AGPS
                                      ※影音娛樂:同時勾選(FM收音機和MP3鈴聲),手機產品同時具有
                                      %br/
                                      \&nbsp;&nbsp;(FM收音機和MP3鈴聲)功能才會顯示出來。
                          %tr
                            %th 傳輸介面
                            %td
                              %table#myEasySearch1_TportCheckBoxList.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_TportCheckBoxList{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_TportCheckBoxList_0{:name => "myEasySearch1$TportCheckBoxList$0", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_TportCheckBoxList_0"} 紅外線
                                            %td
                                              %input#myEasySearch1_TportCheckBoxList_1{:name => "myEasySearch1$TportCheckBoxList$1", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_TportCheckBoxList_1"} 藍牙
                                            %td
                                              %input#myEasySearch1_TportCheckBoxList_2{:name => "myEasySearch1$TportCheckBoxList$2", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_TportCheckBoxList_2"} USB
                                      ※傳輸介面:同時勾選(紅外線和藍牙),手機產品同時具有
                                      %br/
                                      \&nbsp;&nbsp;(紅外線和藍牙)功能才會顯示出來。
                          %tr
                            %th 上網方式
                            %td
                              %table#myEasySearch1_WebCheckBoxList.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_WebCheckBoxList{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_WebCheckBoxList_0{:name => "myEasySearch1$WebCheckBoxList$0", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_WebCheckBoxList_0"} 3G (WCDMA)
                                            %td
                                              %input#myEasySearch1_WebCheckBoxList_1{:name => "myEasySearch1$WebCheckBoxList$1", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_WebCheckBoxList_1"} 3.5G (HSDPA)
                                            %td
                                              %input#myEasySearch1_WebCheckBoxList_2{:name => "myEasySearch1$WebCheckBoxList$2", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_WebCheckBoxList_2"} Wi-Fi
                          %tr
                            %th 品牌偏好
                            %td
                              %table#myEasySearch1_bnoCheckBoxList.tNoBorder{:width => "100%"}
                                %tbody
                                  %tr{:onmouseout => "this.style.background='#FFF';", :onmouseover => "this.style.background='#eefaff';", :style => "background: none repeat scroll 0% 0% rgb(255, 255, 255);"}
                                    %td
                                      %table#myEasySearch1_bnoCheckBoxList{:border => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_0{:name => "myEasySearch1$bnoCheckBoxList$0", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_0"} Acer
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_4{:name => "myEasySearch1$bnoCheckBoxList$4", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_4"} LG
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_8{:name => "myEasySearch1$bnoCheckBoxList$8", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_8"} Samsung
                                          %tr
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_1{:name => "myEasySearch1$bnoCheckBoxList$1", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_1"} Apple
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_5{:name => "myEasySearch1$bnoCheckBoxList$5", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_5"} MOTO
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_9{:name => "myEasySearch1$bnoCheckBoxList$9", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_9"} Sharp
                                          %tr
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_2{:name => "myEasySearch1$bnoCheckBoxList$2", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_2"} Garmin-Asus
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_6{:name => "myEasySearch1$bnoCheckBoxList$6", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_6"} Nokia
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_10{:name => "myEasySearch1$bnoCheckBoxList$10", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_10"} Sony Ericsson
                                          %tr
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_3{:name => "myEasySearch1$bnoCheckBoxList$3", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_3"} HTC
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_7{:name => "myEasySearch1$bnoCheckBoxList$7", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_7"} PHS
                                            %td
                                              %input#myEasySearch1_bnoCheckBoxList_11{:name => "myEasySearch1$bnoCheckBoxList$11", :type => "checkbox"}/
                                              %label{:for => "myEasySearch1_bnoCheckBoxList_11"} Toshiba
                                      ※品牌編號:同時勾選(Asus和Toshiba),完全符合以上條件的
                                      %br/
                                      \&nbsp;&nbsp;(Asus和Toshiba)手機產品會顯示出來。
                      .pageNav
                        .objBtn
                          %ul
                            %li
                              %a{:href => "#", :title => "\346\220\234\345\260\213"} 搜尋
                            %li
                              %a{:href => "#", :title => "\347\242\272\350\252\215\351\200\201\345\207\272"} 確認送出
                      .clear
                  #bottom.hide
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
