!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_DiscussBoard.css", :rel => "stylesheet", :type => "text/css"}/
    %title Untitled Document
  %body
    .msg
      %h4 規格錯誤回報
      .mistake
        .name 您要回報的錯誤為
        #info
        .pageSpace
          HTC EVO 3D 基本資訊 頻率系統
          %br>/
          目前為 :
          %br/
          GSM850. GSM900. GSM1800.
          %br/
          GSM1900. HSDPA. WCDMA.
          %br/
          HSUPA.
          %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        .name 您要回報的錯誤為
        #info
        .pageSpace
          %table#table1.noborder{:border => "0"}
            %tbody
              %tr
                %td{:align => "left"}
                  %table#sno72{:border => "0"}
                    %tbody
                      %tr
                        %td
                          %input#sno72_0{:name => "sno72$0", :type => "checkbox"}/
                          %label{:for => "sno72_0"} AMPS
                        %td
                          %input#sno72_1{:name => "sno72$1", :type => "checkbox"}/
                          %label{:for => "sno72_1"} CDMA2000
                        %td
                          %input#sno72_2{:checked => "checked", :name => "sno72$2", :type => "checkbox"}/
                          %label{:for => "sno72_2"} GSM850
                      %tr
                        %td
                          %input#sno72_3{:checked => "checked", :name => "sno72$3", :type => "checkbox"}/
                          %label{:for => "sno72_3"} GSM900
                        %td
                          %input#sno72_4{:checked => "checked", :name => "sno72$4", :type => "checkbox"}/
                          %label{:for => "sno72_4"} GSM1800
                        %td
                          %input#sno72_5{:checked => "checked", :name => "sno72$5", :type => "checkbox"}/
                          %label{:for => "sno72_5"} GSM1900
                      %tr
                        %td
                          %input#sno72_6{:checked => "checked", :name => "sno72$6", :type => "checkbox"}/
                          %label{:for => "sno72_6"} HSDPA
                        %td
                          %input#sno72_7{:name => "sno72$7", :type => "checkbox"}/
                          %label{:for => "sno72_7"} PCS
                        %td
                          %input#sno72_8{:name => "sno72$8", :type => "checkbox"}/
                          %label{:for => "sno72_8"} PHS
                      %tr
                        %td
                          %input#sno72_9{:name => "sno72$9", :type => "checkbox"}/
                          %label{:for => "sno72_9"} TDMA
                        %td
                          %input#sno72_10{:checked => "checked", :name => "sno72$10", :type => "checkbox"}/
                          %label{:for => "sno72_10"} WCDMA
                        %td
                          %input#sno72_11{:name => "sno72$11", :type => "checkbox"}/
                          %label{:for => "sno72_11"} PHS原機漫遊日本
                      %tr
                        %td
                          %input#sno72_12{:checked => "checked", :name => "sno72$12", :type => "checkbox"}/
                          %label{:for => "sno72_12"} HSUPA
                        %td
                          %input#sno72_13{:name => "sno72$13", :type => "checkbox"}/
                          %label{:for => "sno72_13"} WIMAX
                        %td
                          %input#sno72_14{:name => "sno72$14", :type => "checkbox"}/
                          %label{:for => "sno72_14"} CDMA800
                      %tr
                        %td
                          %input#sno72_15{:name => "sno72$15", :type => "checkbox"}/
                          %label{:for => "sno72_15"} DCS1800
                        %td
                          %input#sno72_16{:name => "sno72$16", :type => "checkbox"}/
                          %label{:for => "sno72_16"} TD-SCDMA
                        %td
                          %input#sno72_17{:name => "sno72$17", :type => "checkbox"}/
                          %label{:for => "sno72_17"} CDMA1900
        .objBtn
          %ul
            %li
              %a{:href => "#", :title => "\347\242\272\350\252\215\351\200\201\345\207\272"} 確認送出
