!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_store-6.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
              %li.on
                %a{:href => "#"}
                  店鋪管理
      #main
        #storeMain.bw
          .bwls
            .Sfootermain
              .Sdatas
                .SdataL
                .SdataR
                  .Snav
                    .Stabs{:style => "width:660px;"}
                      .Stab
                        %a{:href => "#", :title => "\347\263\273\347\265\261\345\205\254\345\221\212"}
                          系統公告
                      .Stab
                        %a{:href => "#", :title => "\345\225\206\345\223\201\347\256\241\347\220\206"}
                          商品管理
                      .Stab.on
                        %a{:href => "#", :title => "\351\226\200\350\231\237\350\263\207\350\262\273"}
                          門號資費
                      .Stab
                        %a{:href => "#", :title => "\346\216\250\350\226\246\344\277\203\351\212\267"}
                          推薦促銷
                      .Stab
                        %a{:href => "#", :title => "\345\272\227\351\213\252\350\263\207\350\250\212"}
                          店鋪資訊
                      .Stab
                        %a{:href => "#", :title => "\345\225\217\351\241\214\345\217\215\346\230\240"}
                          問題反映
                      .Stab
                        %a{:href => "#", :title => "\346\211\213\346\251\237\345\240\261\344\277\256"}
                          手機報修
                      .Stab
                        %a{:href => "#", :title => "\347\217\276\351\207\221\347\233\244\350\263\207\350\250\212"}
                          現金盤資訊
                    .StabsEnd
                  .Sdata
                    .SdataUp
                      .SdataTabs
                        .SdataTab
                          %a{:href => "#"} 手機
                        .SdataTab.Son
                          %a{:href => "#"} 平板電腦
                    .SdataDown
                      %h3.tle-bg-gray 平板電腦
                      %ul.Snotice
                        %li
                          %span.txt-imp 不想報價該門號，請輸入 0 即可，門號優惠的上限由丞諾代理商制定。
                    %br/
                    .SFeeDown
                      %br.clear/
                      %br.clear/
                      %br.clear/
                      %br.clear/
                      %br.clear/
                      %br.clear/
                      %br.clear/
                      %br.clear/
                      .mobile
                        %div
                          %table#ctl00_ContentPlaceHolder1_gvwManageProject.tbl-border{:border => "1", :cellspacing => "0", :rules => "all", :style => "border-collapse:collapse;"}
                            %tbody
                              %tr
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:8%;"} 編號
                                %th.tbl-Center.tbl-thRow{:scope => "col"}
                                  %select#ctl00_ContentPlaceHolder1_gvwManageProject_ctl01_DropDownList0{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl01$DropDownList0", :onchange => "javascript:setTimeout('__doPostBack(\\'ctl00$ContentPlaceHolder1$gvwManageProject$ctl01$DropDownList0\\',\\'\\')', 0)"}
                                    %option{:selected => "selected", :value => "1"} 中華電信
                                    %option{:value => "2"} 台灣大哥大
                                    %option{:value => "3"} 遠傳電信
                                    %option{:value => "6"} 亞太電信
                                    %option{:value => "7"} 威寶電信
                                %th.tbl-Center.tbl-thRow{:scope => "col"}
                                  %select#ctl00_ContentPlaceHolder1_gvwManageProject_ctl01_DropDownList1{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl01$DropDownList1", :onchange => "javascript:setTimeout('__doPostBack(\\'ctl00$ContentPlaceHolder1$gvwManageProject$ctl01$DropDownList1\\',\\'\\')', 0)"}
                                    %option{:selected => "selected", :value => "1"} 新辦
                                    %option{:value => "2"} 續約
                                    %option{:value => "3"} 門號可攜
                                    %option{:value => "4"} 無線上網
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:40%;"} 費率名稱
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  1
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl02_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl02_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl02_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl02$texratDiscount", :type => "text"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl02_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限0
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl02_lblrat_name 無線上網850 （預繳1000）            （24）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  2
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl03_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl03_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl03_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl03$texratDiscount", :type => "text", :value => "4000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl03_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限5200
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl03_lblrat_name 一般583/589/699（預繳3000）  （24）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  3
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl04_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl04_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl04_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl04$texratDiscount", :type => "text", :value => "4000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl04_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限4400
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl04_lblrat_name 一般383（預繳1800）                       （24）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  4
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl05_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl05_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl05_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl05$texratDiscount", :type => "text", :value => "4000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl05_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限5000
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl05_lblrat_name 高用量1683（預繳3500）                （12）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  5
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl06_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl06_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl06_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl06$texratDiscount", :type => "text", :value => "3000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl06_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限3800
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl06_lblrat_name 一般983/999/989（預繳3500）   （12）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  6
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl07_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl07_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl07_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl07$texratDiscount", :type => "text", :value => "4000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl07_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限4200
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl07_lblrat_name 一般583/699/589（預繳2500）    （12）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  7
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl08_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl08_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl08_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl08$texratDiscount", :type => "text", :value => "3000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl08_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限3400
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl08_lblrat_name 一般383（預繳2000）                       （12）
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  8
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl09_lblsup_name 中華電信
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl09_lblptc_name 3G
                                %td
                                  %input#ctl00_ContentPlaceHolder1_gvwManageProject_ctl09_texratDiscount{:name => "ctl00$ContentPlaceHolder1$gvwManageProject$ctl09$texratDiscount", :type => "text", :value => "1000"}/
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl09_lblDiscountLimit{:style => "color:Red;"}
                                    %br>/
                                    上限1500
                                %td
                                  %span#ctl00_ContentPlaceHolder1_gvwManageProject_ctl09_lblrat_name 一般183/289（預繳1200）             （12）
                        %input#ctl00_ContentPlaceHolder1_Button1{:name => "ctl00$ContentPlaceHolder1$Button1", :type => "submit", :value => "\344\277\256\346\224\271"}/
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
