!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-storeModify.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
      #main
        #storeMain.bw
          .bwls
            .pdReview.sstyle
              .mainImg
                %img{:src => "images/www/samples/sample-img-4.jpg"}/
              %h1.pdName
                HTC Desire HD
              .fb-good
                %img{:src => "images/www/samples/sample-fb-1.jpg"}/
              .NewProgramS
                %br/
                .programL
                  ›&nbsp;空機價(簡配)：
                .programR
                  %span.money 15000
                .space
                  .spacer
                .programL
                  ›&nbsp;商品說明：
                %br/
                .programL
                  ＊＊＊大穎通信 更名 鴻陞通訊 名字改變 服務不變 ＊＊＊中華.遠傳.台灣大哥大.和信.舊客戶原號續約.皆有辦理.請來電洽詢.
                  TEL-02-23258892.
                  地址-北市大安區復興南路二段一八七號一樓.科技大樓捷運站旁
                  ＊本店報價皆現金未稅價＊ ＊＊請列印報價單或表明網友才有此優惠價＊否則依現場報價為主。
                .space
                  .spacer
                .programL
                  ›&nbsp;更新日期：
                .programR
                  今日
              .album.clr
                %a{:href => "#"}
                .prev
                .list
                  %ul
                    %li
                      %a{:href => "#", :title => "HTC Desire HD"}
                        %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    %li
                      %a{:href => "#", :title => "HTC Desire HD"}
                        %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    %li
                      %a{:href => "#", :title => "HTC Desire HD"}
                        %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    %li
                      %a{:href => "#", :title => "HTC Desire HD"}
                        %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    %li
                      %a{:href => "#", :title => "HTC Desire HD"}
                        %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    %li
                      %a{:href => "#", :title => "HTC Desire HD"}
                        %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                %a{:href => "#"}
                .next
              .pdReviewTabs.clr
                %ul
                  %li
                    %a{:href => "#", :title => "\346\226\271\346\241\210\345\203\271\346\240\274"}
                      方案價格
                  %li.on
                    %strong
                      %a{:href => "#", :title => "\347\224\242\345\223\201\344\273\213\347\264\271"}
                        產品介紹
                  %li
                    %strong
                      %a{:href => "#", :title => "\347\224\242\345\223\201\350\246\217\346\240\274"}
                        產品規格
                  %li
                    %strong
                      %a{:href => "#", :title => "\345\203\271\346\240\274\350\263\207\350\250\212"}
                        價格資訊
                  %li
                    %strong
                      %a{:href => "#", :title => "\350\251\225\346\270\254\345\240\261\345\221\212"}
                        評測報告
              .pdIntro.clr
                .pdTitle
                  宏達電旗艦機種 HTC Desire HD 升級版智慧大師兄
                .content
                  .subTitle
                    豪邁展現 放眼視界
                  .txt
                    宏達電繼推出引起熱潮的 HTC Desire 渴望機後，再度發佈更具強力規格的加值升級版 HTC Desire HD，主要升級的地方在於作業系統、相機畫素以及主螢幕的顯示效果，主螢幕從原本的 3.7 吋升高到 4.3 吋的境界，而背蓋則是同樣採用與 HTC Desire 一樣的鋁合金屬材質，整體外型可說是機皇與渴望的結合。
                  .subTitle
                    豪邁展現 放眼視界
                  .txt
                    宏達電繼推出引起熱潮的 HTC Desire 渴望機後，再度發佈更具強力規格的加值升級版 HTC Desire HD，主要升級的地方在於作業系統、相機畫素以及主螢幕的顯示效果，主螢幕從原本的 3.7 吋升高到 4.3 吋的境界，而背蓋則是同樣採用與 HTC Desire 一樣的鋁合金屬材質，整體外型可說是機皇與渴望的結合。
              .moreIntro
                %a{:href => "#", :title => "\345\261\225\351\226\213\346\233\264\345\244\232"}
                  ▼展開更多
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
