!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-storeModify.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
      #main
        #storeMain.bw
          .bwls
            .pdReview.sstyle
              .mainImg
                %img{:src => "images/www/samples/NO_8242.jpg"}/
              %h1.pdName
                Sony Ericsson XPERIA mini
              .fb-good
                %img{:src => "images/www/samples/sample-fb-1.jpg"}/
              .NewProgram
                .programL
                  ›&nbsp;空機價(簡配)：
                .programR
                  %span.money 7400!
                .space
                  .spacer
                .programL
                  ›&nbsp;商品說明：
                .programR
                  ＊＊＊大穎通信 更名 鴻陞通訊 名字改變 服務不變 ＊＊＊中華.遠傳.台灣大哥大.和信.舊客戶原號續約.皆有辦理.請來電洽詢.
                  TEL-02-23258892.
                  地址-北市大安區復興南路二段一八七號一樓.科技大樓捷運站旁
                  ＊本店報價皆現金未稅價＊ ＊＊請列印報價單或表明網友才有此優惠價＊否則依現場報價為主。
                .space
                  .spacer
                .programL
                  ›&nbsp;更新日期：
                .programR
                  今日
              .album.clr
                .points
                  %img{:height => "14", :src => "imgs/ico_notice.png", :width => "14"}>/
                  \&nbsp;建議您購買前先與店家聯絡，
                  %strong> 確定價格與是否有現貨
                  ，以免浪費您寶貴的時間。
                  %br/
                  = succeed "&amp;nbsp;" do
                    %img{:height => "14", :src => "imgs/ico_notice.png", :width => "14"}/
                  = succeed "\343\200\202\350\251\263\346\203\205\350\253\213\350\246\213" do
                    %strong 續約身分是否符合需親洽店家，由店家做更詳細的解說及查詢
                  %a{:href => "http://www.sogi.com.tw/price/popup_telecom.htm", :target => "_blank"} 資費方案說明。
              .pdReviewTabs.clr
                %ul
                  %li.on
                    %a{:href => "#", :title => "\346\226\271\346\241\210\345\203\271\346\240\274"}
                      方案價格
                  %li
                    %strong
                      %a{:href => "#", :title => "\347\224\242\345\223\201\344\273\213\347\264\271"}
                        產品介紹
                  %li
                    %strong
                      %a{:href => "#", :title => "\347\224\242\345\223\201\350\246\217\346\240\274"}
                        產品規格
                  %li
                    %strong
                      %a{:href => "#", :title => "\345\203\271\346\240\274\350\263\207\350\250\212"}
                        價格資訊
                  %li
                    %strong
                      %a{:href => "#", :title => "\350\251\225\346\270\254\345\240\261\345\221\212"}
                        評測報告
              .pdIntro.clr
                .content
                  .FdataTabs
                    .FdataTab
                      %a{:href => "#"} 中華電信
                    .FdataTab.Fon
                      %a{:href => "#"} 台灣大哥大
                    .FdataTab
                      %a{:href => "#"} 威寶電信
                    .FdataTab
                      %a{:href => "#"} 遠傳電信
                  .FdataDown
                    .tpc{:style => "display: none;"}
                      %table.tbl-border.stripeMe{:width => "100%"}
                        %tbody
                          %tr
                            %th.tbl-Center 搭配
                            %th.tbl-Center 新辦特價
                            %th.tbl-Center 續約特價
                            %th.tbl-Center 門號可攜
                            %th.tbl-Center 無線上網
                          %tr
                            %td 中華電信 - 3G: 一般183/289           （12）
                            %td.tbl-Center NT$ 6500
                            %td.tbl-Center NT$ 6600
                            %td.tbl-Center NT$ 6500
                            %td.tbl-Center -
                          %tr
                            %td 中華電信 - 3G: 一般383                   （24）
                            %td.tbl-Center NT$ 3600
                            %td.tbl-Center -
                            %td.tbl-Center NT$ 3600
                            %td.tbl-Center 0元手機
                          %tr
                            %td 中華電信 - 3G: 一般383                    （12）
                            %td.tbl-Center NT$ 4600
                            %td.tbl-Center NT$ 6400
                            %td.tbl-Center NT$ 4600
                            %td.tbl-Center -
                          %tr
                            %td 中華電信 - 3G: 一般583/699/589     （12）
                            %td.tbl-Center NT$ 3800
                            %td.tbl-Center NT$ 5900
                            %td.tbl-Center NT$ 3800
                            %td.tbl-Center -
                          %tr
                            %td 中華電信 - 3G: 一般583/589/699     （24）
                            %td.tbl-Center NT$ 2800
                            %td.tbl-Center NT$ 5400
                            %td.tbl-Center NT$ 2800
                            %td.tbl-Center 0元手機
                          %tr
                            %td 中華電信 - 3G: 一般983/999/989    （12）
                            %td.tbl-Center NT$ 3600
                            %td.tbl-Center NT$ 4900
                            %td.tbl-Center NT$ 3600
                            %td.tbl-Center -
                          %tr
                            %td 中華電信 - 3G: 高用量1683             （12）
                            %td.tbl-Center NT$ 3000
                            %td.tbl-Center -
                            %td.tbl-Center NT$ 3300
                            %td.tbl-Center -
                    .tpcGroup
                      .tpc.TabbedPanelsContentVisible{:style => "display: block;"}
                        %table.tbl-border.stripeMe{:width => "100%"}
                          %tbody
                            %tr
                              %th.tbl-Center 搭配
                              %th.tbl-Center 新辦特價
                              %th.tbl-Center 續約特價
                              %th.tbl-Center 門號可攜
                              %th.tbl-Center 無線上網
                            %tr
                              %td 台灣大哥大 - 3G: 268/299   （預繳600）           （6）
                              %td.tbl-Center NT$ 4600
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 4600
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 268/299                              （12）
                              %td.tbl-Center NT$ 4600
                              %td.tbl-Center NT$ 6600
                              %td.tbl-Center NT$ 4600
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 299                                    （24）
                              %td.tbl-Center NT$ 4100
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 4000
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 401                                     （6）
                              %td.tbl-Center NT$ 3200
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 2600
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 401                                     （12）
                              %td.tbl-Center NT$ 2600
                              %td.tbl-Center NT$ 6200
                              %td.tbl-Center NT$ 1800
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 401                                    （24）
                              %td.tbl-Center NT$ 2200
                              %td.tbl-Center NT$ 5700
                              %td.tbl-Center NT$ 1200
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 401     （預繳1200）                (36）
                              %td.tbl-Center NT$ 400
                              %td.tbl-Center -
                              %td.tbl-Center 0元手機
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 568                                    （6）
                              %td.tbl-Center NT$ 2900
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 2000
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 568      （預繳1250）            （12）
                              %td.tbl-Center NT$ 2400
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1000
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 568      （預繳1250）            （24）
                              %td.tbl-Center NT$ 2000
                              %td.tbl-Center NT$ 5500
                              %td.tbl-Center NT$ 500
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 568      （預繳1600）            （36）
                              %td.tbl-Center NT$ 100
                              %td.tbl-Center -
                              %td.tbl-Center 0元手機
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 699/801 （預繳1250）           （6）
                              %td.tbl-Center NT$ 2400
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1600
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 699/801 （預繳1250）           （12）
                              %td.tbl-Center NT$ 1800
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 500
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 699/801（預繳1250）            （24）
                              %td.tbl-Center NT$ 1500
                              %td.tbl-Center NT$ 5500
                              %td.tbl-Center NT$ 200
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 699/801（預繳2000）            （36）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center -
                              %td.tbl-Center 0元手機
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 968       （預繳2500）           （6）
                              %td.tbl-Center NT$ 2100
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1300
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 968       （預繳2500）           （12）
                              %td.tbl-Center NT$ 1300
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 200
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 968       （預繳2500）           （24）
                              %td.tbl-Center NT$ 1100
                              %td.tbl-Center NT$ 4400
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 968       （預繳3000）           （36）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center -
                              %td.tbl-Center 0元手機
                              %td.tbl-Center -
                            %tr
                              %td 台灣大哥大 - 3G: 行動上網699＋低資費401（ 預繳金額請洽店家）        （24）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 行動上網699＋中資費699（ 預繳金額請洽店家）      （24）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                            %tr
                              %td 台灣大哥大 - 3G: 行動上網699＋高資費968（ 預繳金額請洽店家）      （24）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                      .tpc{:style => "display: none;"}
                        %table.tbl-border.stripeMe{:width => "100%"}
                          %tbody
                            %tr
                              %th.tbl-Center 搭配
                              %th.tbl-Center 新辦特價
                              %th.tbl-Center 續約特價
                              %th.tbl-Center 門號可攜
                              %th.tbl-Center 無線上網
                            %tr
                              %td 威寶電信 - 3G: 學生專案150
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 威寶電信 - 3G: 暢打專案-300
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 威寶電信 - 3G: 暢打專案-500
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 威寶電信 - 3G: 暢打專案-900
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 威寶電信 - 3G: 986半價優惠專案
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                      .tpc{:style => "display: none;"}
                        %table.tbl-border.stripeMe{:width => "100%"}
                          %tbody
                            %tr
                              %th.tbl-Center 搭配
                              %th.tbl-Center 新辦特價
                              %th.tbl-Center 續約特價
                              %th.tbl-Center 門號可攜
                              %th.tbl-Center 無線上網
                            %tr
                              %td 遠傳電信 - 3G: 安心講180                                    （6）
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 安心講380                                    （6）
                              %td.tbl-Center NT$ 4900
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 4900
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 安心講380                                    （24）
                              %td.tbl-Center NT$ 4900
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 4900
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 續約-賓賓有禮2
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 續約-賓賓有禮3
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 續約-賓賓有禮4
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 續約-賓賓有禮5
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 大雙網 165       （預繳1000 ）         （6）
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈拉精省398                                  （6）
                              %td.tbl-Center NT$ 3600
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 2600
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈拉精省398                                 （24）
                              %td.tbl-Center NT$ 3000
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 2000
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈拉精省398      （預繳1200)         （36）
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 大雙網 765                                   （6）
                              %td.tbl-Center NT$ 2400
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1850
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 大雙網 765                                   （24）
                              %td.tbl-Center NT$ 1400
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1000
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 大雙網 765         （預繳1200)        （36）
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 290/298                         （6）
                              %td.tbl-Center NT$ 5000
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 4500
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈拉頭家 290/298                         （24）
                              %td.tbl-Center NT$ 4600
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 4000
                              %td.tbl-Center NT$ 2400
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 590/598                         （6）
                              %td.tbl-Center NT$ 2800
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 2250
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 590/598                         （24）
                              %td.tbl-Center NT$ 2200
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1650
                              %td.tbl-Center 0元手機
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 590/598   （預繳1200)    （36）
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 990/998                         （6）
                              %td.tbl-Center NT$ 2100
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 1550
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 990/998                         （24）
                              %td.tbl-Center NT$ 900
                              %td.tbl-Center -
                              %td.tbl-Center NT$ 350
                              %td.tbl-Center 0元手機
                            %tr
                              %td 遠傳電信 - 3G: 哈啦頭家 990/998    （預繳1200)    ( 36）
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                              %td.tbl-Center -
                            %tr
                              %td 遠傳電信 - 3G: 行動上網298＋550低資費  （預繳金額請洽店家）
                              %td.tbl-Center NT$ 2400
                              %td.tbl-Center NT$ 2400
                              %td.tbl-Center NT$ 2400
                              %td.tbl-Center NT$ 2400
                            %tr
                              %td 遠傳電信 - 3G: 行動上網398＋775中資費  （預繳金額請洽店家）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                            %tr
                              %td 遠傳電信 - 3G: 行動上網590＋775高資費（預繳金額請洽店家）
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
                              %td.tbl-Center 0元手機
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
