!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li.on
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
              %li
                %a{:href => "#"}
                  店鋪管理
      #main
        #storeMain.bw
          .bwls
            .forumMain.sstyle
              .objInfo
                .forumBtn
                  .createVote
                    %a{:href => "#", :title => "\347\231\274\350\265\267\346\264\273\345\213\225"}
                      發起活動
                  .newPost
                    %a{:href => "#", :title => "\347\231\274\350\241\250\346\226\207\347\253\240"}
                      發表文章
              .articleSearch
                %select{:name => "searchType"}
                  %option{:value => "1"}
                    文章標題
                  %option{:value => "2"}
                    作者
                %input{:name => "searchTxt", :type => "text"}/
                %input{:name => "\346\220\234\345\260\213", :type => "button", :value => "\346\220\234\345\260\213"}/
              .pagination.digg
                %ul
                  %li.disabled
                    第一頁
                  %li.disabled
                    上一頁
                  %li.current
                    1
                  %li
                    %a{:href => "#"}
                      2
                  %li
                    %a{:href => "#"}
                      3
                  %li
                    %a{:href => "#"}
                      4
                  %li
                    %a{:href => "#"}
                      5
                  %li
                    %a{:href => "#"}
                      6
                  %li
                    %a{:href => "#"}
                      7
                  %li
                    %a{:href => "#"}
                      8
                  %li
                    %a{:href => "#"}
                      9
                  %li
                    %a{:href => "#"}
                      10
                  %li
                    %a{:href => "#"}
                      下一頁
                  %li
                    %a{:href => "#"}
                      最後一頁
              .faList
                .fTabs
                  %ul
                    %li.on
                      全部
                    %li
                      %a{:href => "#", :title => "\344\277\256\346\224\271\345\215\200"}
                        修改區
                    %li
                      %a{:href => "#", :title => "\347\204\232\345\214\226\347\210\220"}
                        焚化爐
                    %li
                      %a{:href => "#", :title => "\345\276\205\345\257\251\346\226\207\347\253\240"}
                        待審文章
                    %li
                      %a{:href => "#", :title => "\347\211\210\344\270\273\345\205\254\345\221\212"}
                        版主公告
                .faHead
                  .faTitle
                    主題
                  .faCount
                    回應
                  .faAuthor
                    作者
                  .faNewRe
                    最新回覆
                .faRow.top
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王電子雜誌5月精彩好禮！測試測試測試標題標題標題測試標...
                    .specialIcon
                      %a{:href => "#", :title => "\345\205\250\347\253\231\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconG.png"}/
                      %a{:href => "#", :title => "\347\262\276\350\217\257\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconJ.png"}/
                      %a{:href => "#", :title => "\347\210\206\347\206\261\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconB.png"}/
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow.top
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                      %a{:href => "#", :title => "\347\275\256\351\240\202\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconD.png"}/
                      %a{:href => "#", :title => "\347\262\276\350\217\257\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconJ.png"}/
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow.top
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                      %a{:href => "#", :title => "\347\275\256\351\240\202\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconD.png"}/
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                      %a{:href => "#", :title => "\347\210\206\347\206\261\346\226\207\347\253\240"}
                        %span
                          %img{:src => "images/www/iconB.png"}/
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                .faRow
                  .field-1
                    .check
                      %input{:name => "checkArtical", :type => "checkbox", :value => "1"}/
                    .objBtns
                      .objBtn
                        %a{:href => "#", :title => "Desire HD"}
                          Desire HD
                      .objBtn
                        %a{:href => "#", :title => "Android"}
                          Android
                    .title
                      %a{:href => "#", :title => "[\347\211\210\344\270\273\345\205\254\345\221\212]\346\211\213\346\251\237\347\216\213\351\233\273\345\255\220\351\233\234\350\252\2145\346\234\210\347\262\276\345\275\251\345\245\275\347\246\256\357\274\201"}
                        %span.mTag
                          [版主公告]
                        %span
                          手機王EDM 5月精彩好禮！
                    .specialIcon
                  .field-2
                    .reCount
                      %a{:href => "#", :title => "\345\233\236\346\207\211\346\225\270"}
                        99999
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
                  .field-3
                    .postInfo
                      %a{:href => "#", :title => "\345\260\217\351\271\277\346\226\221\346\257\224"}
                        %span
                          2011-06-27 14:30
                        %span
                          小鹿斑比
              .pagination.digg
                %ul
                  %li.disabled
                    第一頁
                  %li.disabled
                    上一頁
                  %li.current
                    1
                  %li
                    %a{:href => "#"}
                      2
                  %li
                    %a{:href => "#"}
                      3
                  %li
                    %a{:href => "#"}
                      4
                  %li
                    %a{:href => "#"}
                      5
                  %li
                    %a{:href => "#"}
                      6
                  %li
                    %a{:href => "#"}
                      7
                  %li
                    %a{:href => "#"}
                      8
                  %li
                    %a{:href => "#"}
                      9
                  %li
                    %a{:href => "#"}
                      10
                  %li
                    %a{:href => "#"}
                      下一頁
                  %li
                    %a{:href => "#"}
                      最後一頁
              .articleSearch
                %select{:name => "searchType"}
                  %option{:value => "1"}
                    文章標題
                  %option{:value => "2"}
                    作者
                %input{:name => "searchTxt", :type => "text"}/
                %input{:name => "\346\220\234\345\260\213", :type => "button", :value => "\346\220\234\345\260\213"}/
            .forumMaBtn
              .maBtn
                %a{:href => "#", :title => "\345\210\227\345\205\245\344\277\256\346\224\271\345\215\200"}
                  %span
                    列入
                    %br>/
                    修改區
              .maBtn
                %a{:href => "#", :title => "\345\217\226\346\266\210\344\277\256\346\224\271\345\215\200"}
                  %span
                    取消
                    %br>/
                    修改區
              .maBtn.red
                %a{:href => "#", :title => "\346\226\207\347\253\240\345\210\252\351\231\244"}
                  %span
                    文章
                    %br>/
                    刪除
              .maBtn
                %a{:href => "#", :title => "\346\226\207\347\253\240\345\276\251\345\216\237"}
                  %span
                    文章
                    %br>/
                    復原
              .maBtn.yellow
                %a{:href => "#", :title => "\346\234\254\347\211\210\347\275\256\351\240\202"}
                  %span
                    本版
                    %br>/
                    置頂
              .maBtn
                %a{:href => "#", :title => "\345\217\226\346\266\210\347\275\256\351\240\202"}
                  %span
                    取消
                    %br>/
                    置頂
              .maBtn
                %a{:href => "#", :title => "\347\267\250\350\274\257\345\205\254\345\221\212"}
                  %span
                    編輯
                    %br>/
                    公告
              .maBtn
                %a{:href => "#", :title => "TAG\347\256\241\347\220\206"}
                  %span
                    TAG
                    %br>/
                    管理
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
