!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li.on
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
              %li
                %a{:href => "#"}
                  店鋪管理
      #main
        #storeMain.bw
          .bwls
            .storeProd.mg
              .title
                .spIcon.i5
                .wording
                  營業資訊
              .basic
                .boxs
                  .bTitle
                    基本資訊
                  %ul.infos
                    %li
                      %span.nt
                        電話：
                      %span.ins
                        02-26558888
                    %li
                      %span.nt
                        手機：
                      %span.ins
                        0922-123456
                    %li
                      %span.nt
                        地址：
                      %span.addr
                        台北市南港區三重路19-8號B棟6樓
                    %li
                      %span.nt
                        E-mail：
                      %span.addr
                        service@sogi.com.tw
                .boxs
                  .bTitle
                    營業時間
                  %ul.infos
                    %li
                      %span.nt
                        平日：
                      %span.ins
                        09:00 ~ 21:00
                    %li
                      %span.nt
                        假日：
                      %span.ins
                        09:00 ~ 21:00
                .boxs
                  .bTitle
                    付款方式
                  %ul.payItems
                    %li
                      .payIcon
                      %span.pay
                        信用卡
                    %li
                      .payIcon
                      %span.pay
                        現金
                    %li
                      .payIcon
                      %span.pay
                        貨到付款
                    %li
                      .payIcon
                      %span.pay
                        分期付款
                .boxs
                  .bTitle
                    服務項目
                  %ul.serItems
                    %li
                      .servIcon
                      %span.serv
                        新辦門號
                    %li
                      .servIcon
                      %span.serv
                        門號續約
                    %li
                      .servIcon
                      %span.serv
                        配件
                    %li
                      .servIcon
                      %span.serv
                        門號NP
              .basic
                .storeDesc
                  本公司報價一律含發票（二聯三聯均可開立）歡迎來電洽詢當日最新價格０２－２６５５３９９８或上網http://tecom.so-buy.com查詢。付款方式：網購（w@ntgo）目前可提供多種付款方式，如信用卡付款（SSL、FAX）、信用卡分期、銀行匯款、ATM自動轉帳、郵政劃撥、親自取貨、及貨到付款（台北市及台北縣部份地區免運費）。
            .storeProd.mg
              .title
                .spIcon.i6
                .wording
                  地圖資訊
              .gMap
                .gMapApi
                  %img{:src => "images/www/samples/sample-maps-3.jpg"}/
                .gps
                  .gpsTitle
                    GPS 導航
                  .infos
                    .el
                      東經 121.613739
                    .nl
                      北緯 25.057518
                    .btn
                      %a{:href => "#", :title => "\345\272\227\345\256\266\350\241\227\346\231\257\350\246\217\345\212\203"}
                        店家街景規劃
                    .qrcode
                      %img{:src => "images/www/samples/chart.png"}/
                      .notice
                        %a{:href => "#", :title => "QRCode\344\275\277\347\224\250\350\252\252\346\230\216"}
                          手機QR Code使用說明
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
