!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_store-6.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
              %li.on
                %a{:href => "#"}
                  店鋪管理
      #main
        #storeMain.bw
          .bwls
            .Sfootermain
              .Sdatas
                .SdataL
                .SdataR
                  .Snav
                    .Stabs{:style => "width:660px;"}
                      .Stab
                        %a{:href => "#", :title => "\347\263\273\347\265\261\345\205\254\345\221\212"}
                          系統公告
                      .Stab.on
                        %a{:href => "#", :title => "\345\225\206\345\223\201\347\256\241\347\220\206"}
                          商品管理
                      .Stab
                        %a{:href => "#", :title => "\351\226\200\350\231\237\350\263\207\350\262\273"}
                          門號資費
                      .Stab
                        %a{:href => "#", :title => "\346\216\250\350\226\246\344\277\203\351\212\267"}
                          推薦促銷
                      .Stab
                        %a{:href => "#", :title => "\345\272\227\351\213\252\350\263\207\350\250\212"}
                          店鋪資訊
                      .Stab
                        %a{:href => "#", :title => "\350\210\207\346\211\213\346\251\237\347\216\213\351\200\243\347\265\241"}
                          與手機王連絡
                    .StabsEnd
                  .Sdata
                    .SdataUp
                      .SdataTabs
                        .SdataTab.Son
                          %a{:href => "#"} 已報價商品
                        .SdataTab
                          %a{:href => "#"} 新增報價
                        .SdataTab
                          %a{:href => "#"} 說明樣版
                        .SdataTab
                          %a{:href => "#"} 更新報價日
                        .SdataTab
                          %a{:href => "#"} 群組同步
                        .SdataTab
                          %a{:href => "#"} 14天未更新商品
                    .Sblock
                      %h3.tle-bg-gray
                        所有商品列表
                        %font{:color => "red", :size => "1"} 【當商品為下架狀態時，將呈現灰色網底。】
                      .SMdataTabs
                        .SMdataTab.SMon
                          %a{:href => "#"} 手機
                        .SMdataTab
                          %a{:href => "#"} 平板電腦
                      #Scontent
                        %br.Sclear/
                        %ul.SbrandNav
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=A", :title => "A"} A
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=B", :title => "B"} B
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=C", :title => "C"} C
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=D", :title => "D"} D
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=E", :title => "E"} E
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=F", :title => "F"} F
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=G", :title => "G"} G
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=H", :title => "H"} H
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=I", :title => "I"} I
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=J", :title => "J"} J
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=K", :title => "K"} K
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=L", :title => "L"} L
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=M", :title => "M"} M
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=N", :title => "N"} N
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=O", :title => "O"} O
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=P", :title => "P"} P
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=Q", :title => "Q"} Q
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=R", :title => "R"} R
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=S", :title => "S"} S
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=T", :title => "T"} T
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=U", :title => "U"} U
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=V", :title => "V"} V
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=W", :title => "W"} W
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=X", :title => "X"} X
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=Y", :title => "Y"} Y
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;chr=Z", :title => "Z"} Z
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1", :title => "\346\234\200\346\226\26020\347\255\206"} 最新20筆
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;switch=on", :title => "\345\267\262\344\270\212\346\236\266\345\225\206\345\223\201"} 上架中
                          %li
                            %a{:href => "QuoteProductList.aspx?c=1&amp;switch=off", :title => "\345\267\262\344\270\213\346\236\266\345\225\206\345\223\201"} 已下架
                        %br.Sclear/
                        %p
                        %div
                          %table#ctl00_ContentPlaceHolder1_gvwQuoteProductList.tbl-border{:border => "1", :cellspacing => "0", :rules => "all", :style => "width:100%;border-collapse:collapse;"}
                            %tbody
                              %tr
                                %td.tbl-Center.tbl-thRow2{:colspan => "9"} 商品報價
                              %tr
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:12%;"} 商品名稱
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:16%;"} 商品簡配價格
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:16%;"} 商品全配價格
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "white-space:nowrap;"} 商品說明(不得輸入HTML碼)
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:11%;"} 報價修改
                                %th.tbl-Center.tbl-thRow{:scope => "col", :style => "width:11%;"} 商品狀態
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7500"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_lblBAndPName Acer beTouch P300
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$p_no", :type => "hidden", :value => "7500"}/
                                %td.tbl-Center
                                  NT$&nbsp;
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_txtQuotePrice{:maxlength => "10", :name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$txtQuotePrice", :size => "5", :type => "text", :value => "11200"}/
                                  %br/
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_lbQuotePrice{:style => "color:#CC3300;"} 鎖定價格↓
                                  %br/
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_PriceLock{:style => "color:#CC3300;"} 無鎖價
                                %td.tbl-Center
                                  NT$&nbsp;
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_txtFittingQuotePrice{:maxlength => "10", :name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$txtFittingQuotePrice", :size => "5", :type => "text"}/
                                  %br/
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_lbFittingPriceLock{:style => "color:#CC3300;"} 鎖定價格↓
                                  %br/
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_FittingPriceLock{:style => "color:#CC3300;"} 無鎖價
                                %td.tbl
                                  %textarea#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_txtMemo{:cols => "20", :name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$txtMemo", :rows => "2", :style => "height:200px;width:90%;"}
                                    :preserve
                                      童叟無欺，購買有保障
                                      歡迎電洽預約體驗                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_btnSave{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$btnSave", :type => "submit", :value => "\345\204\262\345\255\230"}/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_btnCancel{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$btnCancel", :type => "submit", :value => "\345\217\226\346\266\210"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl03_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl03$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7785"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_lblBAndPName Acer Liquid Metal 金厲害機
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl04$p_no", :type => "hidden", :value => "7785"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_lblQuotePrice 13500
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl04$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl04_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl04$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "8003"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_lblBAndPName Acer Liquid Mini
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl05$p_no", :type => "hidden", :value => "8003"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_lblQuotePrice 9400
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_lblFittingQuotePrice 9900
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl05$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl05_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl05$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7265"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_lblBAndPName Acer Liquid 厲害機
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl06$p_no", :type => "hidden", :value => "7265"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_lblQuotePrice 12000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl06$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl06_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl06$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "6524"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_lblBAndPName Acer M900
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl07$p_no", :type => "hidden", :value => "6524"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_lblQuotePrice 6
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl07$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl07_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl07$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7660"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_lblBAndPName Acer Stream 犀利機
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl08$p_no", :type => "hidden", :value => "7660"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_lblQuotePrice 15000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl08$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl08_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl08$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "6526"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_lblBAndPName Acer X960
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl09$p_no", :type => "hidden", :value => "6526"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_lblQuotePrice 2
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl09$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl09_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl09$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "4190"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_lblBAndPName Alcatel OT-C550
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl10$p_no", :type => "hidden", :value => "4190"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_lblQuotePrice 2
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl10$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl10_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl10$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "2916"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_lblBAndPName Alcatel OT-C701
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl11$p_no", :type => "hidden", :value => "2916"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_lblQuotePrice 15000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl11$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl11_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl11$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "4192"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_lblBAndPName Alcatel OT-E205C
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl12$p_no", :type => "hidden", :value => "4192"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_lblQuotePrice 15000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl12$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl12_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl12$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7687"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_lblBAndPName altek A14 LEO
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl13$p_no", :type => "hidden", :value => "7687"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_lblQuotePrice 10900
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_lblFittingQuotePrice 11300
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl13$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl13_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl13$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "1926"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_lblBAndPName AMOI BV1000
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl14$p_no", :type => "hidden", :value => "1926"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_lblQuotePrice 1
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl14$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl14_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl14$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7719"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_lblBAndPName APOGEE  AP102
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl15$p_no", :type => "hidden", :value => "7719"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_lblQuotePrice 1
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl15$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl15_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl15$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7720"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_lblBAndPName APOGEE  YV202
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl16$p_no", :type => "hidden", :value => "7720"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_lblQuotePrice 15000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl16$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl16_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl16$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7671"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_lblBAndPName Apple iPhone 4 32GB
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl17$p_no", :type => "hidden", :value => "7671"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_lblQuotePrice 24200
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_lblFittingQuotePrice 24600
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl17$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl17_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl17$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "4043"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_lblBAndPName BenQ E53
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl18$p_no", :type => "hidden", :value => "4043"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_lblQuotePrice 8000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl18$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl18_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl18$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "2113"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_lblBAndPName BenQ-Siemens CF61
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl19$p_no", :type => "hidden", :value => "2113"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_lblQuotePrice 1000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_lblFittingQuotePrice
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl19$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl19_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl19$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "7810"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_lblBAndPName BlackBerry Bold 9780
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl20$p_no", :type => "hidden", :value => "7810"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_lblQuotePrice 15000
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_lblFittingQuotePrice 15400
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl20$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl20_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl20$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "8144"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_lblBAndPName BlackBerry Torch 9800 白色
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl21$p_no", :type => "hidden", :value => "8144"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_lblQuotePrice 19900
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_lblFittingQuotePrice 20300
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl21$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl21_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl21$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
                              %tr
                                %td.tbl-thRow.tbl-Center
                                  %a{:name => "8250"}
                                    %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_lblBAndPName CHENNOR CHP-56
                                    %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_p_no{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl22$p_no", :type => "hidden", :value => "8250"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_lblQuotePrice 1680
                                  %br/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_lblFittingQuotePrice 2080
                                  %br/
                                %td.tbl
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_lblMemo
                                    童叟無欺，購買有保障
                                    %br>/
                                    歡迎電洽預約體驗
                                %td.tbl-Center
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_btnEdit{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl22$btnEdit", :type => "submit", :value => "\344\277\256\346\224\271\350\250\255\345\256\232"}/
                                %td.tbl-Center
                                  %span#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_lbTitle{:style => "background-color:AliceBlue;"} 上架中
                                  %br/
                                  %input#ctl00_ContentPlaceHolder1_gvwQuoteProductList_ctl22_btnDown{:name => "ctl00$ContentPlaceHolder1$gvwQuoteProductList$ctl22$btnDown", :style => "color:Red;background-color:AliceBlue;", :type => "submit", :value => "\344\270\213\346\236\266"}/
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
