!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_store-6.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li
                %a{:href => "#"}
                  詢價須知
              %li.on
                %a{:href => "#"}
                  店鋪管理
      #main
        #storeMain.bw
          .bwls
            .Sfootermain
              .Sdatas
                .SdataL
                .SdataR
                  .Snav
                    .Stabs{:style => "width:660px;"}
                      .Stab
                        %a{:href => "#", :title => "\347\263\273\347\265\261\345\205\254\345\221\212"}
                          系統公告
                      .Stab
                        %a{:href => "#", :title => "\345\225\206\345\223\201\347\256\241\347\220\206"}
                          商品管理
                      .Stab
                        %a{:href => "#", :title => "\351\226\200\350\231\237\350\263\207\350\262\273"}
                          門號資費
                      .Stab.on
                        %a{:href => "#", :title => "\346\216\250\350\226\246\344\277\203\351\212\267"}
                          推薦促銷
                      .Stab
                        %a{:href => "#", :title => "\345\272\227\351\213\252\350\263\207\350\250\212"}
                          店鋪資訊
                      .Stab
                        %a{:href => "#", :title => "\345\225\217\351\241\214\345\217\215\346\230\240"}
                          問題反映
                      .Stab
                        %a{:href => "#", :title => "\346\211\213\346\251\237\345\240\261\344\277\256"}
                          手機報修
                      .Stab
                        %a{:href => "#", :title => "\347\217\276\351\207\221\347\233\244\350\263\207\350\250\212"}
                          現金盤資訊
                    .StabsEnd
                  .Sdata
                    .SdataUp
                      .SdataTabs
                        .SdataTab
                          %a{:href => "#"} 老闆推薦
                        .SdataTab.Son
                          %a{:href => "#"} 店鋪促銷
                    .SdataDown
                      %h3.tle-bg-gray
                        店鋪促銷
                      .SMdataTabs
                        .SMdataTab.SMon
                          %a{:href => "#"} 新增促銷
                        .SMdataTab
                          %a{:href => "#"} 未過期促銷
                        .SMdataTab
                          %a{:href => "#"} 過期促銷
                      #Scontent
                        %br.Sclear/
                        %ul.notice
                        %span#ctl00_ContentPlaceHolder1_showText
                          %li
                            %span.txt-imp 已推薦之產品請至「未過期促銷」查詢，若推薦產品已過期，請至「過期促銷」查詢。
                        %br/
                        %br/
                        %select#ctl00_ContentPlaceHolder1_dropNum{:name => "ctl00$ContentPlaceHolder1$dropNum"}
                          %option{:value => "1"} 1
                          %option{:value => "2"} 2
                          %option{:value => "3"} 3
                          %option{:value => "4"} 4
                          %option{:value => "5"} 5
                          %option{:value => "6"} 6
                          %option{:value => "7"} 7
                          %option{:value => "8"} 8
                          %option{:value => "9"} 9
                          %option{:value => "10"} 10
                        %input#ctl00_ContentPlaceHolder1_btnConfirm{:name => "ctl00$ContentPlaceHolder1$btnConfirm", :type => "submit", :value => "\347\242\272\345\256\232"}/
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
