!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"}
                  店鋪首頁
              %li
                %a{:href => "#"}
                  推薦促銷
              %li
                %a{:href => "#"}
                  店鋪資訊
              %li
                %a{:href => "#"}
                  服務中心
              %li.on
                %a{:href => "#"}
                  詢價須知
              %li
                %a{:href => "#"}
                  店鋪管理
      #main
        #storeMain.bw
          .bwls
            .storeProd.mg
              .storeNotice
                .notice
                  .noticeIcon
                  .nRow
                    Sogi迷你店舖之價格，若無額外於「優惠說明」標註貨源，則皆為全新「正式代理之原廠公司貨／一次付清／空機現金價格」，並未開放二手機或配件報價。欲分期或其他，須事先詢問店家。
                  .nRow
                    Sogi迷你店舖皆為簡配內容。係有手機、原廠電池、原廠旅充、原廠完整包裝。各原廠若有階段搭配而有所增減、替換，將依當時情狀或店家實際說明內容為主。
                  .nRow
                    使用Sogi迷你店舖查詢價格時，若空機價欄中有出現「
                    %span.highlight> ！警訊符號
                    」，即代表該價格目前低於該款之平均價格，請購買前務必與店家再確認交易價及內容。
                  .nRow
                    依照常態，手機實機備貨數量、上下架同步等各家不一，建議線上查詢之後，於購買前務必「電洽店家」或透過該店家「服務中心」確認細節。電洽詢價或實際購買前，請務必「主動表明」是「Sogi手機王網友」（能列印查詢結果尤佳），以利享有線上優惠價格。
                  .nRow
                    正式親洽購買時，請務必當場檢視外觀、確認手機操作、功能與內容物種類、數量，以避免後續往返。若經認可且銀貨兩訖點交後，再發現問題，請洽原店家或依照業界常態處理流程服務。
                  .nRow
                    發現店家價格不實、虛報時，請至「
                    %a{:href => "#", :title => "\345\225\217\351\241\214\345\217\215\346\207\211"}> 問題反應
                    」中告知（請留下有效電話號碼），以利專人排程處理與有效回覆。
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName
                  聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"}
                        ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
