!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.2.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 店鋪管理
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "廣告"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li.on
                %a{:href => "#"} 店鋪首頁
              %li
                %a{:href => "#"} 推薦促銷
              %li
                %a{:href => "#"} 店鋪資訊
              %li
                %a{:href => "#"} 服務中心
              %li
                %a{:href => "#"} 詢價須知
              %li
                %a{:href => "#"} 店鋪管理
      #main
        #storeMain.bw
          .bwls
            .SdataDown
              .Ssystem.Ssystembw
                %h4 系統通知
                %ul.list
                  %li
                    %span.txt-date> 2011/08/29
                    \ 
                    = succeed "&nbsp;" do
                      %a{:href => "http://shoptest.sogi.com.tw/SystemBulletin.aspx?bn=641"}
                        0829_ASUS
                        Slider滑蓋平板開報價
                    %span.txt-unread 未讀取
                  %li
                    %span.txt-date> 2011/08/24
                    \ 
                    %a{:href => "http://shoptest.sogi.com.tw/SystemBulletin.aspx?bn=638"} 0824_鎖價異動表列之一
                  %li
                    %span.txt-date> 2011/08/24
                    \ 
                    = succeed "&nbsp;" do
                      %a{:href => "http://shoptest.sogi.com.tw/SystemBulletin.aspx?bn=637"} 0824_鎖價異動表列之二
                    %span.txt-unread 未讀取
                  %a{:href => "http://shoptest.sogi.com.tw/SystemBulletin.aspx"}
                    .more
                      更多系統通知
            .keyVisual.mg
              %a{:href => "#", :title => "店家主視覺"}
                %img{:src => "images/www/samples/sample-store-1.jpg"}/
            .storeProd.mg
              .title
                .spIcon.i1
                .wording
                  老闆推薦
              %ul.storePdLists
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
              %a{:href => "#", :title => "更多手機"}
                .more
                  更多手機
                  %img{:src => "images/www/sogi-arrow-3.gif"}/
            .storeProd.mg
              .title
                .spIcon.i2
                .wording
                  最新商品
              %ul.storePdLists
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
              %a{:href => "#", :title => "更多手機"}
                .more
                  更多手機
                  %img{:src => "images/www/sogi-arrow-3.gif"}/
            .storeProd.mg
              .title
                .spIcon.i3
                .wording
                  熱門商品
              %ul.storePdLists
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
                %li.storePd
                  .pd
                    %a{:href => "#", :title => "HTC Desire HD"}
                      %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                    .info
                      %img.arrow{:src => "images/www/sogi-arrow-4.gif"}/
                      .pName
                        %a{:href => "#", :title => "HTC Desire HD"} HTC Desire HD
                      .descb
                        童叟無欺，購買有保障，歡迎電洽預約體驗。
                      .price
                        空機價:
                        %span.money
                          %a{:href => "#", :title => "價格"} $18,800
                      .update
                        更新日：2011-07-15
              %a{:href => "#", :title => "更多手機"}
                .more
                  更多手機
                  %img{:src => "images/www/sogi-arrow-3.gif"}/
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName 聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理