!!!
%html
  %head
    %title SOGI 迷你店鋪 - 聯強電信聯盟-永傑通信
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_store-6.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "SpryAssets/SpryMenuBar.js", :type => "text/javascript"}
    %link{:href => "SpryAssets/SpryMenuBarHorizontal.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %ul#MenuBar1.MenuBarHorizontal
            %li
              %a.MenuBarItemSubmenu{:href => "#"} 店鋪管理
              %ul
                %li
                  %a{:href => "#"} 系統公告
                %li
                  %a{:href => "#"} 商品管理
                  %ul
                    %li
                      %a{:href => "#"} 已報價商品
                    %li
                      %a{:href => "#"} 新增報價
                    %li
                      %a{:href => "#"} 說明樣板
                    %li
                      %a{:href => "#"} 更新報價日
                    %li
                      %a{:href => "#"} 群組同步
                    %li
                      %a{:href => "#"} 未更新商品
                %li
                  %a{:href => "#"} 門號資費
                  %ul
                    %li
                      %a{:href => "#"} 手機
                    %li
                      %a{:href => "#"} 平板電腦
                %li
                  %a{:href => "#"} 推薦促銷
                  %ul
                    %li
                      %a{:href => "#"} 老闆推薦
                    %li
                      %a{:href => "#"} 店鋪促銷
                %li
                  %a{:href => "#"} 店鋪資訊
                  %ul
                    %li
                      %a{:href => "#"} 店鋪資訊
                    %li
                      %a{:href => "#"} 帳戶資訊
                %li
                  %a{:href => "#"} 與手機王連絡
                  %ul
                    %li
                      %a{:href => "#"} 問題反映
                    %li
                      %a{:href => "#"} 手機報修
                    %li
                      %a{:href => "#"} 現金盤資訊
          ｜
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} [ Jason ] 登出
    #container
      #globalBg
        .storeBg
          %img.sunBg{:src => "images/www/sogi-store-bg-2.png"}/
      #head
        .sHead.bw
          .AD970.mg.pg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad970.gif"}/
          .storeNav.mg
            %ul
              %li
                %a{:href => "#"} 店鋪首頁
              %li
                %a{:href => "#"} 推薦促銷
              %li
                %a{:href => "#"} 店鋪資訊
              %li
                %a{:href => "#"} 服務中心
              %li
                %a{:href => "#"} 詢價須知
              %li.on
                %a{:href => "#"} 店鋪管理
      #main
        #storeMain.bw
          .bwls
            .Sfootermain
              .Sdatas
                .SdataL                 .SdataR
                  .Snav
                    .Stabs{:style => "width:660px;"}
                      .Stab.on
                        %a{:href => "#", :title => "\347\263\273\347\265\261\345\205\254\345\221\212"} 系統公告
                      .Stab
                        %a{:href => "#", :title => "\345\225\206\345\223\201\347\256\241\347\220\206"} 商品管理
                      .Stab
                        %a{:href => "#", :title => "\351\226\200\350\231\237\350\263\207\350\262\273"} 門號資費
                      .Stab
                        %a{:href => "#", :title => "\346\216\250\350\226\246\344\277\203\351\212\267"} 推薦促銷
                      .Stab
                        %a{:href => "#", :title => "\345\272\227\351\213\252\350\263\207\350\250\212"} 店鋪資訊
                      .Stab
                        %a{:href => "#", :title => "\350\210\207\346\211\213\346\251\237\347\216\213\351\200\243\347\265\241"}
                          與手機王連絡
                    .StabsEnd
                  .Sdata
                    .SdataUp
                      .SdataTabs                       .SdataDown
                        .Ssystem
                          %h4 系統公告
                          %ul.list
                            %li
                              %span.txt-date> 8/3/2011 4:09:00 PM
                              \&nbsp;
                              %a{:href => "SystemBulletin.aspx?bn=624"}> 0803_SE Xperia調降鎖價（3支）
                              \&nbsp;
                              %span.txt-unread 未讀取
                              %p
                                頭家您好：
                                %br/
                                剛收到訊息，故立即調降，以利各位因應。
                                %br/
                                %br/
                                SE Xperia 調降鎖價，計有三支：
                                %br/
                                Sony Ericsson Xperia arc
                                %br/
                                Sony Ericsson Xperia neo
                                %br/
                                Sony Ericsson Xperia PLAY
                                %br/
                                %br/
                                請參考。謝謝...&nbsp;&nbsp;&nbsp;
                                %a{:href => "SystemBulletin.aspx?bn=624"} [看全文]
                            %li
                              %span.txt-date> 8/3/2011 11:02:00 AM
                              \&nbsp;
                              %a{:href => "SystemBulletin.aspx?bn=623"} 0803_NOKIA C5-00 升級版（獨立型號報價）
                              %p
                                頭家您好：
                                %br/
                                NOKIA C5-00 升級版，已經開立獨立型號與報價。
                                %br/
                                http://www.sogi.com.tw/product/productInfo.aspx?pno=8464
                                %br/
                                請參考使用。
                                %br/
                                謝謝...&nbsp;&nbsp;&nbsp;
                                %a{:href => "SystemBulletin.aspx?bn=623"} [看全文]
                            %li
                              %span.txt-date> 8/3/2011 8:37:00 AM
                              \&nbsp;
                              %a{:href => "SystemBulletin.aspx?bn=622"} 0803_鎖價異動表列
                              %p
                                頭家您好：
                                %br/
                                請登入店鋪管理／商品報價（紅色字）／已報價商品。請全面檢視所有，以利確實。
                                %br/
                                請留意輸入數值的正確性！下次例行調價將在 8/10。
                                %br/
                                1.手機王與店鋪新版介面，原訂 8 月上旬上線，現將順延至 10 月上旬推出。
                                %br/
                                ‧若鎖價是調漲，則會於該型號後加註（調漲）
                                %br/
                                ‧若鎖價是調降，則不會有任何註解。
                                %br/
                                1.TOSHIBA AT100（8/2...&nbsp;&nbsp;&nbsp;
                                %a{:href => "SystemBulletin.aspx?bn=622"} [看全文]
          .bwr
            .storeSides
              .mainImg
                %img{:src => "images/www/samples/sample-img-11.jpg"}/
                .spotlight
              .info
                %h1.sName 聯強電信聯盟-永傑通信
                .tel
                  .icon
                  02-23090818
                .addr
                  .icon
                  台北市大安區忠孝東路三段100號
              .rLists
                .title
                  .icon
                  手機商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
              .rLists
                .title
                  .icon
                  平板電腦商品 (50)
                .lists
                  %ul.list
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
                    %li
                      %a{:href => "#", :title => "HTC"} HTC (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Apple (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Nokia (5)
                    %li
                      %a{:href => "#", :title => "HTC"} Sony Ericssion (5)
                    %li
                      %a{:href => "#", :title => "HTC"} ASUS (5)
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p 本網站已依台灣網站內容分級規定處理
    :javascript
      var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
          