@charset "UTF-8";
/* CSS Document */










h1 {
    color: #CC0000;
    font-size: 20px;
    margin-left: 10px;
    padding: 0;
}
h2 {
    color: #334D55;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h3 {
    color: #2244FF;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h4 {
    color: #0033CC;
    font: bold 12px Arial,sans-serif;
    margin: 0;
    padding: 0;
}
h5 {
    color: #FF641A;
    font: 15px Arial,sans-serif;
    margin-left: 10px;
    padding: 0;
}
h6 {
    color: #356F7B;
    font-family: Arial,sans-serif;
    font-size: 15px;
    margin: 0 0 5px;
}


p {
    font-size: 12px;
    margin-bottom: 0.9em;
    margin-top: 0.5em;
}






.Mfootermain {
	border: 1px solid #AAAAAA;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 6px #AAAAAA;
	height:auto;
	overflow: hidden;
	padding: 5px;
	background-attachment: scroll;
	background-color: #ECECEC;
	background-repeat: repeat;
	background-position: 0 0;
}



.Mnav
{
	padding:10px 20px 40px 5px;
}


.Mdatas{
	
	margin-left: 5px;
	
	padding:10px;
	height: auto;
}



.MdataUp{
	width: 620px;
	float: left;
	padding-left:10px;
}




.MdataDown{
	width:auto;
	float: left;
	padding-bottom:25px;
	padding-top:15px;
	padding-left:10px;
	
	
}

.MdataTabs
{
	float: left;	
}

.MdataTabs a{
	display:block;
	height: 30px;
	width: 100px;
	background-image: url(../images/www/FdataTab_bac.png);
	color: #444;
}


.MdataTabs a:hover
{
	background-image:  url(../images/www/FdataTabOn_bac.png);
	color: #444;
}






.MdataTab
{
	float: left;
	margin: 0 3px 0 0;
	padding: 0px;
	color: #444;
	background-image: url(../images/www/FdataTab_bac.png);
	text-align: center;
	line-height: 30px;
}

.Mon a{
	display:block;
	height: 30px;
	width: 100px;
	background-image:  url(../images/www/FdataTabOn_bac.png);
}



.Mtabs {
	clear: both;
	display: block;
	float: left;
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	background-attachment: scroll;
	background-color: #806F66;
	background-image: url(../../images/www/sogi-img.png);
	background-repeat: no-repeat;
	background-position: -1px -180px;
	border-radius: 15px 15px 15px 15px;
}


.Mtabs .Mtab {
    float: left;
    line-height: 29px;
    margin-right: 2px;
    text-align: center;
}


.Mtabs .Mtab a {
	color: white;
	display: block;
	line-height: 28px;
	padding: 0 15px 0 15px;
	
}


.Mtabs .Mtab a:hover {
    background-color: #3A3536;
    border-radius: 15px 15px 15px 15px;
	
}
.Mtabs .on {
	border-radius: 15px 15px 15px 15px;
	  background-color: #3A3536;
}
.MtabsEnd {
	display: block;
	float: left;
	height: 0px;
	line-height: 29px;
	width: 0px;
	margin-top: 40px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: right -180px;
}




div.spacer {
	clear: both;
	font-size: 0;
	height: 20px;
	line-height: 0;
	
}


div.spacer2 {
    clear: both;
    font-size: 0;
    height: 5px;
    line-height: 0;
}

div.spacer3{
    clear: both;
    font-size: 0;
    height: 5px;
    line-height: 0;
	border-bottom: 1px solid #AAAAAA;

}








.Mblock
{
	float:left;
	width:500;
	
	
}



/*會員資料*/


#pr_top {
	border-bottom: 1px solid #87C4D5;
	border-left: 1px solid #87C4D5;
	border-right: 1px solid #87C4D5;
	color: #444444;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	background-color: #222;
}
#pr_top p {
	display: block;
	margin: 7px 10px 0;
	color: #EEE;
}
#pr_box {
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    float: left;
    line-height: 20px;
    padding: 10px 0 10px 0;
	margin:0 0 20px 0;
    text-align: left;
    width: 100%;
}

#pr_box p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


#Benefitspr_box p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}



#Benefitspr_box UL LI {
    line-height: 22px;
    margin-bottom: 10px;
}


#Benefitspr_box UL {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    list-style-position: outside;
    list-style-type: square;
}



#pr_box H3 {
    margin: 5px 0 5px 10px;
}
#pr_box UL {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    list-style-position: outside;
    list-style-type: square;
    margin: 10px 10px 10px 30px;
    padding: 0;
}
#pr_box UL.tag {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    list-style-position: outside;
    list-style-type: square;
    margin: 0 0 10px;
    padding: 0;
}
#pr_box UL.tag LI {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
    margin: 0 10px 5px;
}
#pr_box UL LI {
    line-height: 22px;
    margin-bottom: 10px;
}





.member LI {

width:230px;
		display: block;
	font-size: 12px;
	line-height: 28px;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 0;
	text-align: left;
	border-bottom-width: 0.1em;
	border-bottom-style: dotted;
	border-bottom-color: #555;
}



.member LI span.list {
    background-image: url("../imgs/list_bg.gif");
    background-position: left center;
    background-repeat: no-repeat;
    color: #333333;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 10px;
}
.member .R .item {
    float: left;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.member UL {
    margin: 0;
    padding: 0;
}




/*討論版ㄒ*/

Table .spec2
{
	width:700px;
	
}


.Discussbar
{
	width:680px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #444;	
	height:30px;
	font-size: 13px;
	
	color: #555
	padding: 0 10px 0;
	
}



.Discussbar a

{
	color: #555;
	font-size: 12px;
	color: #000;
}




.Discussbar a:hover

{
	color: #000;
	text-decoration: underline;
}


.Discusseven
{
	width:680px;
border-bottom: 1px solid #DDDDDD;
	 font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
     height: 60px;
     padding-left: 5px;
    padding-right: 5px;
	
	
  
    letter-spacing: 1px;
    line-height: 25px;
   
    text-align: left;
	backfround-color: #444;
	
}

.Discussodd
{
	width:680px;
	border-bottom: 1px solid #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 60px;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: left;
	
	
}



/*我的最愛*/



.Msearch {
    background-color: #DDDDDD;
    border: 1px solid #AAAAAA;
    color: #666666;
    font-size: 13px;
    margin: 0 0 20px 0;
    padding:  3px 8px;
    text-align: right;
	width:650px;
}






Table {
    
}
Table TR.tool {
    
    height: 25px;
}
Table TR.odd {
	height: 25px;
	background-color:#DDD;
}
Table TR.chek {
    
    height: 25px;
}
Table TR.odd td, Table TR.even td, #top td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    padding: 5px;
	
}


.block
{
	width:580px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #AAA;
	padding:15px 0 5px 0;
}


Table TR.odd td h3, Table TR.even td h3, #top td h3 {
    color: #990000;
    font-size: 18px;
}
Table TR.even {
   
    height: 25px;
	
}

tbody .bar

{
	height:35px;
	font-size: 13px;
	
	color: #555;
	
}


tbody .bar a

{
	color: #555;	
}




tbody .bar a:hover

{
	color: #555;
	text-decoration: underline;
}




tbody a

{
	color: #0072BC;
}




tbody a:hover

{
	color: #FF9900;
}


/*我的訊息*/



tbody .Messagebar

{
	height:35px;
	font-size: 13px;
	color: #444;
	border-bottom:
; 		border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #222;
}


TH.bar-c, TD.bar-c {

	height: 30px;
	letter-spacing: 1px;
	padding: 2px;
	text-align: center;
}
TH.bar-l, TD.bar-l {
   
    height: 30px;
    letter-spacing: 1px;
    padding: 2px 5px;
    text-align: left;
}



H.cont-l, TD.cont-l {
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
    letter-spacing: 1px;
    line-height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
TH.cont-l h4, TD.cont-l h4, TH.cont-c h4, TD.cont-c h4 {
    color: #003366;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
TH.cont-c, TD.cont-c {
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
}
TD.cont-m p {
    display: block;
    font-size: 15px;
    line-height: 28px;
    margin-left: 2%;
    width: 95%;
}
TD.cont-m {
    border-bottom: 1px solid #DDDDDD;
}






/*我的訊息-好友*/




.Fbar
{
	width:680px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #444;	
	height:30px;
	font-size:11px;
	
	color: #000;
	padding: 0 10px 0;
}



.Fbar a

{
	
	font-size:11px;
	color:#000;
}




.Fbar a:hover

{
	color: #000;
	text-decoration: underline;
}


.Feven
{
	width:680px;
border-bottom: 1px solid #DDDDDD;
	 font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
     height: 50px;
     padding-left: 5px;
    padding-right: 5px;
	
	
  
    letter-spacing: 1px;
    line-height: 25px;
   
    text-align: left;
	backfround-color: #444;
	
}






tbody .Fbar th.Fbar-l

{
	height:35px;
	font-size: 12px;
	width:120px;
	letter-spacing: 1px;
	padding: 2px 5px;
	text-align: left;	

	
}

/*我的訊息-寄信*/


tbody .Sendbar


{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #888;	
}




/*會員權益*/


#Benefitspr_box {
   
    float: left;
    line-height: 20px;
    padding: 10px 0 10px 0;
	margin:0 0 20px 0;
    text-align: left;
    width: 100%;
height:auto;
}





/*活動*/



#Acpr_box
{
	width:665px;
	height:auto;
	border: 2px solid #CFCFCF;
}


#Acpr_box .event {
    float: left;
    margin: 5px;
  
    width: 120px;
}
#Acpr_box .event IMG {
    border: 1px solid #CFCFCF;
}
#Acpr_box .event P {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 3px;
    padding: 0;
}




.back p
{
	width:630px;
	font-size: 12px;
	margin-bottom: 0.9em;
	margin-top: 0.5em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #AAA;
}



#maincont .spacer
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #AAA;	
	margin-bottom:10px;
	height:7px;
}


.text-orange {
    color: #D62E03;
    font-weight: bold;
}


.text-imp {
    color: #FF0000;
    font-weight: bold;
}





.number
{
	margin:13px;
	line-height: 0px;	
}


.number a
{
	margin-left:8px;
	line-height: 0px;	
	font-size:12px;
}