
.mobiSearch
{
	 overflow: hidden;
    padding: 5px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 6px #aaaaaa;
    background: #ffebac url(../images/www/sogi-bg-11.png) 0 0 scroll repeat-x;
	
	
	 }
	 
.mobiSearch .tp-inn .tpc {
    clear: both;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 10px;
}

.mobiSearch .tFind th {
    border-right: 1px dotted #AAA;
    font-size: 15px;
    padding: 10px;
    text-align: right;
    width: 17%;
}




.mobiSearch .tFind th, .tFind td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #AAA;
	padding:4px;
}

.mobiSearch table, caption, tbody, tfoot, thead, tr, th, td {
    vertical-align: middle;
}



.mobiSearch .tFind td table td {
    border: medium none;
    font-size: 13px;
}

.mobiSearch .pageNav
{
	padding-top:10px;
}


.mobiSearch .mobiTitle
{
	width:670px;
	font-size:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBB;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:20px;
	margin-left:10px;
	color: #800;
}




/*pk*/

.pk

{
	position: relative;
	
	margin: 15px auto;
	padding:3px 15px;
	behavior: url(ie-css3.htc);
	z-index: 1;
	border-radius:15px;
	box-shadow: 0 0 6px #AAAAAA;
	background-color: #EEE;	
	
	 }
	 
	 
#pkContent
{
padding:20px;	
}	 



a.btnE:hover {
	color: #F60;
	box-shadow: 0 0 6px #111 inset;
}

a.btnE {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #888 inset;
    font-size: 12px;
    padding:8px 5px;
	
	
}



table.border TH, table.border TD {
    border: 1px solid #DDDDDD;
    padding: 10px 15px;
}

.tBrand th, .tSpec th, .tPK th {
	font-size: 14px;
	padding: 3px 0;
	text-align: center;
	background-color:#CC9;
	font-weight: 700;
	color: #010;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    vertical-align: middle;
}

#pkContent h2
{
	font-size:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #AAA;
	padding-bottom:3px;
	padding-left:5px;
	color: #500;
}




.searchBlock
{
	font-size:14px;
	width:100px;
	padding-left:10px;
	padding-top:40px;
	line-height:10px;
	color: #444;	
	
	

}


.searchBlock li
{
	
	padding-bottom:3px;
	
	width:200px;
}


.searchBlock #form 
{
	
	padding-top:6px;
	padding-left:8px;
	
	font-size:11px;
	

}
